[2018-01-08 06:35] jduckles opened #3 "I hand installed the userguide to docs.carpentries.org"
@maneesha I hand installed this on our static webserver (where software-carpentry.org) is hosted.

http://docs.carpentries.org/toc.html

Steps
1. Add DNS A Record pointing to `docs.carpentries.org`
2. Configure nginx (webserver) to Virtual Host for `docs.carpentries.org` (see below)
3. `git clone` the repo and run `make html`, then copy to webroot for `docs.carpentries.org`

[code]

nginx config:

[2018-01-08 06:37] jduckles opened #4 "Automate installation to docs.carpentries.org"
Take manual steps from #3 and script a cron job to update and build the website periodically.

[2018-01-09 16:14] maneesha commented on #3
Thanks @jduckles  for setting this up and including an explanation of how this all works.  I saw your issue #4 to automatically build updates. In the meantime how should we push updates?

[2018-01-09 19:42] maneesha opened #5 "Redirect base URL to toc"
How do you redirect http://docs.carpentries.org/  to http://docs.carpentries.org/toc.html ?

[2018-01-09 20:05] maneesha opened #6 "update reimbursement policy"
[Reimbursement policy](https://github.com/carpentries/usersguides/blob/master/policies/reimbursement-policy.md) document refers to NumFOCUS policy.

[2018-01-10 01:22] jduckles commented on #4
@maneesha, I've configured a webhook on this repo that should fire rebuilding of the docs immediately upon a new push to this repo. This of course can go wrong if you push something broken to master. When you make a few changes, check if they're building. If all looks good please close this issue.

[2018-01-10 01:29] jduckles commented on #5
Can you rename `toc.rst` to `index.rst`.  If not, create an index.html that has contains `<meta http-equiv="refresh" content="0; http://docs.carpentries.org/toc.html>`

[2018-01-17 15:55] maneesha opened #7 "Suggestion: add a tldr section to Coc"
At an admin meeting it was brought up that the Code of Conduce can be a long or intimidating read, especially if someone is feeling upset.  Suggestion is to have a 2-3 bullet point condensed version that people can easily refer to even in a stressful situation.

[2018-01-17 15:58] maneesha opened #8 "Add mixed trainings info to trainers guide"
This document (http://docs.carpentries.org/instructor_training/trainers_guide.html#vi-differences-among-training-types) includes information on how to run distributed, group, and inperson events.

Depending on if we decide to do mixed trainings regularly, we may need to add a section here.

[2018-01-17 16:37] maneesha opened #9 "Table not rendering"
Trying to add a table for how events are scheduled here: http://docs.carpentries.org/instructor_training/scheduling_training_events.html

This does not render properly.  Possible fix:
https://stackoverflow.com/questions/44461762/sphinx-is-not-recognising-my-markdown-tables

[2018-01-17 16:44] maneesha opened #10 "Scheduling open training events"
This section needs to be filled in with the process for open training events - reviewing applications, people sign up, share videoconferencing info, etc.

[2018-01-17 16:47] maneesha opened #11 "move email templates to separate file"
The email templates section in http://docs.carpentries.org/instructor_training/trainers_guide.html#
is very long.  This should be moved to its own file.

[2018-01-17 16:49] maneesha opened #12 "consistency in variable names for email templates"
Email templates include variables referring to things like dates, site names, instructor names, etc.
Some templates identify variables with square brackets, some by percent signs, some possibly other ways.

What's the preferred way to identify variables?

[2018-01-17 17:15] maneesha commented on #3
@jduckles  Should we include this in the "about" section so we can close this issue?

[2018-01-17 17:15] #4 closed

[2018-01-17 17:31] maneesha opened #13 "include instructor training applications in AMY documentation"
AMY documentation needs to include instructions on how to review instructor training applications and how to assign applications to specific events.

[2018-01-17 18:02] maneesha opened #14 "fix links in lesson links"
The section on [not good starting points for demos](http://docs.carpentries.org/instructor_training/trainers_guide.html#not-good-starting-points-for-demos)
was copied and pasted from the lessons website.  The URLs include variables that break when they are on this site.

Does anyone know if these URLs need to be hard coded or if there's a way to preserve the variables?

[2018-01-17 18:03] maneesha opened #15 "Where should Trainers Agreement live?"
This currently lives in the [policies repo](https://github.com/carpentries/policies/blob/master/trainer-agreement.md).  Should it move to this repo?

[2018-01-17 18:04] maneesha opened #16 "Process for Training Trainers document"
This lives in a [google doc](https://docs.google.com/document/d/14Zi_W9uk1wua2v3zy8um6oMCnvO41Qfo1KwStCA-hos/edit).

Should it stay as a google doc or move to this repo?

[2018-01-17 18:10] maneesha opened #17 "Proposing "Communications" section"
Content may include:
* How to request/create mailing lists
* How to submit blog post
* How to submit to newsletter

What else? Especially from @weaverbel

[2018-01-18 04:23] weaverbel commented on #17
Tweets, Facebook, asking us to help with messaging, style guide - will keep thinking @maneesha

[2018-01-18 20:11] jduckles commented on #3
I already added the dependencies to the readme. The rest is kind of host specific, so I'll just close this issue.

[2018-01-18 20:11] #3 closed

[2018-01-29 20:47] maneesha commented on #13
fixed with this commit
https://github.com/carpentries/usersguides/commit/55eeccd1decf75d21c0c60fc78f399f3ad8f89c9#diff-2ff9b5a6578f4b08c8f2460231a95ba4

[2018-01-29 20:47] #13 closed

[2018-01-29 20:54] maneesha opened #19 "Can scripts that go with email templates be public?"
Right now scripts that go with email templates are in a staff google drive folder:

https://drive.google.com/drive/u/0/folders/0B2Xc7BrFgkvUTmdQZUtDcDdTWEU

Can these scripts be moved to the users guide? Should they stay somewhere else?

@ErinBecker

[2018-01-29 20:59] maneesha commented on #14
Maybe @jduckles  @tracykteal  @ErinBecker can help?

[2018-01-30 15:25] maneesha opened #20 "What are the links at bottom of trainers guide?"
If you go to the [raw view](https://raw.githubusercontent.com/carpentries/usersguides/master/instructor_training/trainers_guide.md) of the Trainers Guide document there are a bunch of links that don't render to the outputted document.  I think these were in @ErinBecker 's original document.  What are they for? Do we need to keep them in?

[2018-01-30 15:33] maneesha commented on #5
Fixed with https://github.com/carpentries/usersguides/commit/8b67c492ab948ef4e950d30a411600240a07294e

[2018-01-30 15:33] #5 closed

[2018-01-30 15:35] maneesha commented on #17
Thanks @weaverbel   Please add any content you have to the drafts folder of this repo.

[2018-01-30 16:50] maneesha opened #21 "need to add link from website back to github repo"
title says it all

[2018-01-30 20:13] jduckles commented on #21
There is a feature in the theme that should change the "View Raw" links to take you to the GitHub page instead:

This issue describes configuring it:
https://github.com/rtfd/sphinx_rtd_theme/issues/529

[2018-01-31 01:35] weaverbel commented on #17
have done the two blog post ones - that will change once we have the merged Carpentries blog @maneesha

[2018-01-31 10:51] tracykteal commented on #14
Unless you can set a variable 'site.swc_pages' within the Readthedocs framework, I think it will need to be the full URL, like http://swcarpentry.github.io/shell-novice/01-intro/

[2018-01-31 19:06] jduckles commented on #14
`({site.swc_pages}}`is largely to allow things to be found if hosted at https://software-carpentry.org or https://swcarpentry.github.io and is a Jekyll setting.

[2018-02-07 16:55] #20 closed

[2018-02-07 17:19] ErinBecker commented on #19
There is nothing confidential in this folder, so these files can be shared. Here's a breakdown of the scripts and what their dependencies are:

1) sendmail_certificates_sep.R - Sends new instructor certificates. Requires a local copy of https://github.com/swcarpentry/certification (which is public). Includes link to SQL query to  https://data.softwarecarpentry.org/.

2) sendmail_maintainer_certifi

[2018-02-07 17:21] ErinBecker commented on #19
Actually - the sendmail_open_training_signup.R script should NOT be shared, as the link to the sign-up sheet for a training event should not be made public. Our workflow assumes that the only people with access to that link are people who have been screened and accepted for instructor training. The other three are ok to share though.

[2018-02-07 17:22] ErinBecker commented on #16
It should move to this repo.

[2018-02-07 17:23] ErinBecker commented on #15
It should stay in policies, but please add a link to it from within the trainer documentation if it isn't already there.

[2018-02-07 17:24] ErinBecker commented on #14
Closed with 8018311

[2018-02-07 17:24] #14 closed

[2018-02-07 17:25] ErinBecker commented on #12
In R, `[]` and `$` are both acceptable ways to identify columns in a dataframe. Can you point out specific places where you see this? I can look at it and see if it would be confusing for a newer R user.

[2018-02-07 17:26] ErinBecker commented on #6
Fixed with https://github.com/carpentries/usersguides/pull/24

[2018-02-07 17:26] #6 closed

[2018-02-07 17:44] ErinBecker opened #25 "change references to template emails being "below""
In the Trainers guide there are some references to template emails being "below", but they've been moved a separate page. Let's add links to that page instead of saying see below.

[2018-02-07 17:45] ErinBecker commented on #25
Similarly, this sentence "There are a few exceptions - listed below" should like to the section of the document "Not Good Starting Points for Demos"

[2018-02-07 17:46] ErinBecker opened #26 "Sublists not rendering properly"
http://docs.carpentries.org/instructor_training/trainers_guide.html#not-good-starting-points-for-demos has nested lists. The sublists for SWC lessons are properly indenting, but the sublists for DC and LC lessons are not.

[2018-02-09 21:20] ErinBecker opened #27 "email templates missing"
Not all of these are in the docs yet: https://docs.google.com/document/d/19JQPRU1IIlHZqaiVfC7ecD0U3SYgzlfpXszQ0UqyFIk/edit

[2018-02-14 16:28] maneesha opened #28 "submitting blog post instructions"
Thanks @weaverbel  for [instructions on submitting SWC blog post](https://github.com/carpentries/usersguides/blob/master/drafts/submit-swc-blog.md)

Will the SWC specific blog remain once we have the Carpetries website live? What is the timeline for the new Carpentries website?  If the SWC blog will be deprecated soon I'd like to hold off on this and include instructions for just the new website.

[2018-02-14 16:31] maneesha commented on #28
Oops... never mind my last question.  I just saw the [file about DC blog posts](https://github.com/carpentries/usersguides/blob/master/drafts/submit-dc-blog.md)

Same question though - will we keep the SWC and DC specific blogs? (and then have a 3rd blog on the Carpentries site?)

[2018-02-14 18:09] maneesha commented on #28
Closing in favor of #17

[2018-02-14 18:09] #28 closed

[2018-02-14 18:09] maneesha commented on #17
Thanks @belinda.  What is the timeline for this?

[2018-02-14 18:25] maneesha commented on #12
Not just for R templates.
Some of my templates (from a browser extension) use percent signs.
Python/Jinja uses curly braces and percent signs.

[2018-02-14 18:26] maneesha commented on #12
And some of it is about being human readable.  Templates may not always be used from scripts.

[2018-02-14 18:28] maneesha opened #29 "Main headings should collapse"
Right now headings like INSTRUCTOR TRAINING, WORKSHOP ADMINISTRATION, etc. do not collapse making a really long sidebar menu.
Would like to style these to collapse.

Perhaps as shown here: https://stackoverflow.com/questions/36925871/toctree-nested-drop-down

[2018-02-14 22:42] Belinda commented on #17
Sorry not sure how I ended up on this thread, but nothing to do with me.

On Thu, Feb 15, 2018 at 5:09 AM, maneesha sane <notifications@github.com>
wrote:

[2018-02-14 22:51] maneesha opened #30 "What copyright/license should this have?"
The default footer line looks like:
© Copyright 2018, The Carpentries.

Should we have a different license like cc?
Can we attribute it just to Carpentries or does CI need to be acknowledged?

[2018-02-14 22:52] maneesha commented on #29
Fixed with various commits -
https://github.com/carpentries/usersguides/commit/e3f27f5167e2f8cf3c2e7bfe9f33da2108b2fccc
https://github.com/carpentries/usersguides/commit/c9e47c726911398aa8f5dad51b30084a56c58d46
https://github.com/carpentries/usersguides/commit/31c01d58274029f8dbcc782b51e509cbbaa9b2a9

[2018-02-14 22:52] #29 closed

[2018-02-14 22:54] maneesha opened #31 "What order should sidebar categories go in?"
For no particular reason right now it goes:
General ->  Maintainers, Communication, Workshop Admin, Instructor Training, Policies.
Staff -> Memberships, Finance

Is there any logical order that would serve us better?

[2018-02-14 22:55] maneesha opened #32 "Sidebar menus - coloring could be better"
Color scheme is rather low contrast and can be difficult to read.

[2018-02-14 22:57] maneesha opened #33 "Need to add table for Staff Expenses section"
The original document from @elizabethwilliams8 includes a table of expense categories. I'm  still trying to figure out how to style tables so I have not included the table here.

https://docs.google.com/document/d/10HMG_0ZNklXINpbXBr6hNfEUzS0Uc7M4MCqjVm5zSYs/edit

[2018-02-14 23:10] maneesha opened #34 "update about section - how index.rst works"
The collapsible sections are enabled by each section having its own index.rst.
This needs to be documented in the about section which currently refers to only the root level index.rst.

[2018-02-15 01:31] maneesha commented on #17
Thanks @weaverbel
What is the timeline on this?

[2018-02-15 01:56] maneesha opened #35 "where should trainers send website links?"
Trainers guide says for trainers to send the url for the training event website to trainers@carpentries.org which gets routed to checkout HelpScout box.
Will the person managing the checkout box also be managing recording this?

See http://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#running-an-instructor-training-event-general.

[2018-02-15 15:35] maneesha opened #36 "Additional sections to be added"
* Mentorship
* Assessment

Anything else?

[2018-02-15 16:33] maneesha opened #37 "Should subcommittee info go in the handbook?"
Things like this:
https://github.com/carpentries/mentoring

[2018-02-15 16:34] maneesha commented on #37
And this

Information on subcommittees:
List of all committees and links: https://docs.google.com/document/d/1wGSRTVRd7kaSao_6JOrD8A_Oaj39EYre57_Ra5AhEBc/edit#
FAQ’s page: https://docs.google.com/document/d/1ySBX82s0g1yJ7MlpPXsP4WKNP_8CKEpF_pixo5umUB4/edit#
Subcommittee descriptions  https://docs.google.com/document/d/1wGSRTVRd7kaSao_6JOrD8A_Oaj39EYre57_Ra5AhEBc/edit#
Staff Liaison roles https://d

[2018-02-15 16:38] maneesha opened #38 "Should "Maintainers" be referred to as "Lesson Maintainers"?"
If we call them just "Maintainers" it may be confusing to people who don't know a lot about us as to what they maintain.

[2018-02-15 18:02] maneesha opened #39 "link to scripts for email templates when available"
Some of the email templates for instructor training (http://docs.carpentries.org/topic_folders/instructor_training/email_templates.html)
note that they have been migrated to a script.  They should then link to the script file being used.

[2018-02-15 18:35] maneesha opened #40 "Maintainers application - should responses be public?"
The Maintainers section includes link to application to be a maintainer.  The responses to this application are publicly visible even when not logged in to any Google account.
Is this intentional?

[2018-02-15 18:42] maneesha opened #41 "Code of Conduct document in handbook is out of date"
See https://github.com/carpentries/usersguides/blob/9e626b9ea8fbc3f23388d176904a1130af3db006/topic_folders/policies/CoC-reporting.md

[2018-02-16 18:50] maneesha opened #42 "How to enable popup in sidebar footer"
This site uses the Read the Docs Sphinx theme.  On that theme's own page (and other sites built on that theme) the footer in the side bar has a popup to to to other versions, to go to github, etc.

Example: https://sphinx-rtd-theme.readthedocs.io/en/latest/

I can't figure out how to enable this popup.

[2018-02-16 19:13] maneesha opened #43 "Could use a pretty 404 page"
Title says it all

[2018-02-16 19:18] maneesha commented on #12
Maintainer emails use curly braces.

[2018-02-16 19:30] maneesha opened #44 "Consistency in formatting email templates"
Email templates are not formatted consistently across sections.  For example:

Across sections some email templates have a bold heading, some are same as regular text.
Some have subject lines defined, some don't.
Variables are identified in different ways as referenced in #12
Some have horizontal lines in between.

[2018-02-16 19:34] maneesha commented on #36
@kariljordan  I've added a mentorship section and am emailing you about getting feedback on that.
Is there anything assessment related that should go in this handbook?

[2018-02-20 18:14] maneesha opened #45 "Add Instructor login instructions"
Instructors can log in to view their own profiles.  Need to add instructions on how to do so and how admins can troubleshoot.

[2018-02-20 18:17] kariljordan commented on #36
Yes, we can add info about the assessment network, learner assessment, and instructor assessment. Should I submit a PR? I think I was supposed to do this already...but please remind me of the process and I'll get it done.

[2018-02-20 20:24] symulation opened #46 "Pad of Pads should be added."
And anything like this.  Perhaps a "General information" category?

[2018-02-21 03:17] remram44 opened #47 "Migrate Maintainers documentation from swcarpentry/lesson-example"
I'm told from @maneesha that this is supposed to replace all the current sources of information, so the Maintainers' documentation should be moved as well.

Currently our main source of documentation is https://github.com/swcarpentry/lesson-example. Should the content be moved here, and the lesson-example repo turned back into an example of lesson?

Essentially a duplicated of https://github.com/s

[2018-02-22 18:26] maneesha opened #48 "Maintainers section seems incomplete"
From one of the maintainers:

[2018-02-22 18:33] maneesha commented on #36
@kariljordan       Any documentation you already have please put in the `drafts` folder of this repo.  I'll take care of everything from there.

[2018-02-22 18:59] kariljordan commented on #36
I added the 3 drafts! All set with this issue from my standpoint.

[2018-02-22 20:50] kariljordan commented on #17
Do we need to add @thecarpentries Twitter handle? Right now we have @datacarpentry and @swcarpentry.

[2018-02-26 19:49] maneesha commented on #35
Closing.
On more thought I'm fine with this.

[2018-02-26 19:49] #35 closed

[2018-02-26 19:58] maneesha commented on #27
@ErinBecker  I think they are all there now (the templates, not the scripts).
Let me know if you see anything missing.

[2018-02-26 19:59] maneesha commented on #16
Closing.
See http://docs.carpentries.org/topic_folders/instructor_training/trainers_training.html

[2018-02-26 19:59] #16 closed

[2018-02-26 19:59] maneesha commented on #15
done - closing

[2018-02-26 19:59] #15 closed

[2018-02-26 20:07] maneesha commented on #21
That worked. closing.

[2018-02-26 20:07] #21 closed

[2018-02-26 20:08] maneesha commented on #8
@karenword Can you write something up to go here?

[2018-02-26 20:35] maneesha opened #53 ""Pygments" error?"
In building the page with blog posting instructions, it throws this error:

The pages appear to look OK.  Need to troubleshoot.

[2018-02-26 20:38] maneesha commented on #42
@jduckles  you're usually good at figuring out things like this. Can you help?

[2018-02-27 03:37] jduckles commented on #42
Looks like its related to an as-yet unmerged patch: https://github.com/rtfd/sphinx_rtd_theme/pull/574

[2018-02-27 03:40] jduckles commented on #12
Liquid, Jekyll and Mustache template engines all use `{{ somevariable }}`, I think that would be most readily useful.

[2018-02-27 03:45] jduckles commented on #53
This has to do with Pygments now knowing what language the snippets are written in. It may try to guess, but it is probably failing since they're not really in any programming language.

[2018-02-27 12:11] tobyhodges opened #54 "Broken link to host checklist"
In the Discussion Sessions section, the link to the host checklist is broken. It directs to http://docs.carpentries.org/topic_folders/mentoring/checklists-discussion-sessions.md instead of https://github.com/carpentries/mentoring/blob/master/checklists-discussion-sessions.md.

Same with the link to the blogpost template towards the end of the section (currently points to http://docs.carpentries.or

[2018-02-27 12:14] tobyhodges commented on #54
I guess you might want to link to checklists in the handbook itself, instead of the mentoring repo?

[2018-02-27 12:29] tobyhodges opened #55 "More intro needed for discussion sessions"
I'm not sure about the target audience for these docs, but I would like to see some content in the section on discussion sessions that encourages people to host the sessions. It currently says that a host is a member of the mentoring subcommittee. That's not _strictly_ true: a few of our lovely hosts seldom/never attend a subcommittee meeting, which is how we define membership.

More importantly,

[2018-02-27 12:47] tobyhodges opened #56 "Mentoring groups info?"
Will we move the information about the mentoring groups program into these docs too?

[2018-02-27 12:49] tobyhodges commented on #37
I think it would be good to include a listing of the various (sub)committees, perhaps with some description of requirements for membership.

[2018-02-27 13:43] maneesha commented on #55
A PR towards this would be great @tobyhodges !

[2018-02-27 13:44] maneesha commented on #56
Good question. I think it would be good to have protocols for how the groups come about and work.  @kariljordan  what do you think?

[2018-02-27 13:46] maneesha commented on #54
Yes, the checklists should go in the handbook itself.  I'll work on that.  Thanks!

[2018-02-27 13:48] tobyhodges commented on #54
Fair enough. I guess that, to begin with, a lot of this was ported across from our docs at carpentries/mentoring? There seems to be a lot of redundancy between the checklist and the discussion sessions section, so we can cut a lot of that out. I'm happy to fix this in a PR too.

[2018-02-27 14:58] kariljordan commented on #56
Yes that sounds good. We are still working through program details though.

[2018-02-27 18:03] ErinBecker opened #57 "rename repo"
Please rename repo to "handbook" for consistency with how the documentation is titled [here](http://docs.carpentries.org/).

[2018-02-27 18:07] ErinBecker opened #58 "add information about curriculum development roles"
What are the roles and responsibilities of:

- [Curriculum Advisors](https://docs.google.com/document/d/1wIi2CY0fg4LkrlfqbrO47wR-6hR0BE1Qbr5Hu4oeIbg/edit)
- [Lesson Infrastructure Committee Members](https://docs.google.com/document/d/1CfRexJsd0bdYosDO2ExvXL2rl6_Lagp7Io_cQE8hDxw/edit)
- [Maintainers](https://docs.google.com/document/d/1Gujpu9PCUxUlc-NWfVJlYTsRx5jIQwlmHgq8kPobGeE/edit)
- [Translatio

[2018-02-27 18:09] ErinBecker commented on #58
Not sure whether this information should go here or in the [Curriculum Development](https://github.com/carpentries/curriculum-development) lesson that @fmichonneau is developing.

[2018-02-28 20:11] ErinBecker opened #60 "migrate information about administering open instructor training"
All of the information about administrating open instructor trainings are here: https://docs.google.com/document/u/1/d/1DMMwuORgodN5MbBxM3yW3oJxLch5gIgJBvyF6AoS1qU/edit?usp=drive_web&ouid=100644372991629736730

After moving this information to the handbook, please deprecate the google doc.

@karenword

[2018-02-28 20:20] maneesha opened #61 "include document library in Communications section"
Include SWC, DC, and Carpentries logos.

What else should go in here?

[2018-03-02 12:14] tobyhodges commented on #9
Tables are notoriously unreliable in Markdown - unsupported in a lot of renderers. Depending on how many tables you think we're likely to use in the handbook, one easy fix might be to describe the table in raw HTML instead. I guess that will render ok via Sphinx? Not a great solution for lots of tables, but ok if this is the only one?

[2018-03-02 12:32] tobyhodges commented on #31
This seems like a sensible approach to me. Within these two domains, you could try to order the categories from widest relevance down to narrowest i.e. the stuff that the most people will be interested in at the top, the 'niche' stuff, for only one or two people, near the bottom.

To my mind, that suggests the following:

Communication
Maintainers
Mentoring
Instructor Training
Workshop Admin
Polic

[2018-03-02 12:34] tobyhodges commented on #33
Wow that's a big table. Recreating this in raw HTML would be painful, so my suggestion in #9 isn't such a good one...

[2018-03-02 12:42] tobyhodges commented on #42
That PR has since been closed

[2018-03-02 12:44] tobyhodges commented on #54
I have addressed the redundancy in #63

[2018-03-02 19:58] #26 closed

[2018-03-02 20:01] #55 closed

[2018-03-02 20:17] maneesha commented on #54
closing with https://github.com/carpentries/usersguides/pull/63

[2018-03-02 20:17] #54 closed

[2018-03-02 20:18] maneesha commented on #56
Thanks @kariljordan
Assigning to you for whenever it is ready.

[2018-03-02 20:28] maneesha commented on #34
Fixed with 8a4547390bfd8cca5aabec21e41d8bbc7b1f2111

[2018-03-02 20:28] #34 closed

[2018-03-02 21:06] kariljordan commented on #56
I had a look at the current [draft](https://github.com/carpentries/usersguides/blob/master/drafts/mentoring-groups.md) for the mentoring groups part of the userguides and I'm happy leaving it as is. We will be keeping this format, and as there are changes made (for example, after we pilot the topic based discussion sessions) I can do a PR to the main user guide to update. So I think we are good to

[2018-03-02 23:27] maneesha opened #65 "workshop checklists - supplemental info"
Workshop checklists should link to other materials like etherpad, website templates, etc.

WIP

[2018-03-02 23:27] maneesha opened #66 "break out host checklist"
Instructor and helper checklists are broken out into before/during/after.
Host checklist should be broken out same way.

WIP.

[2018-03-02 23:29] maneesha commented on #33
Yeah, if I can't figure out how to render tables, I may end up keeping just this table as an external link.
@tobyhodges suggestion may work for a smaller table.

[2018-03-02 23:31] maneesha commented on #9
Site structure has changed so table in question is now here:
http://docs.carpentries.org/topic_folders/instructor_training/scheduling_training_events.html

https://github.com/carpentries/usersguides/blob/master/topic_folders/instructor_training/scheduling_training_events.md

[2018-03-03 03:35] maneesha opened #67 "Logging instructor training/checkout progress"
We need to include instructions on how to log instructor trainee checkout process.  This may include information that goes in the Instructor Training section as well as the AMY section.

* How trainees report completion of steps
* How this is recorded in AMY
* How certificates are sent out
* How bios make it on the website

[2018-03-05 22:28] maneesha opened #70 "add instructions for discussion group invites from mentoring committee"
Every week the mentoring committee representative sends out an email inviting people who have recently taught or are about to teach, inviting them to an upcoming discussion session.  Need to document workflow for this:

* giving that committee member access to log in to AMY
* how to look up who's recently taught & who's about to teach in AMY
* email template for invitation

[2018-03-06 16:39] ErinBecker opened #71 "Add blog post templates / guiding questions"
[For after Instructor Training event](https://docs.google.com/document/d/1iJROM0QynqzCKFh2hEkjUYWsEttDTPbrFZz-xcTwbzo/edit)

[For Data from the Field](https://docs.google.com/document/d/1OYJ2N68uJrltc8VWcYGYqG34cUISxNs4wmZSmrIl1w8/edit)

I'm not sure if we're still running the "Data from the Field" series. @weaverbel

[2018-03-06 16:49] maneesha commented on #71
@weaverbel I'll add in the ones @ErinBecker  already linked to. Let me know if you have templates/guides as well.

[2018-03-06 16:50] maneesha commented on #70
See their guide:
https://docs.google.com/document/d/1buwoOjTdWeT1YYO90Ysf_fr0IBKC66ix_mXZJ3e_tpU/edit

[2018-03-07 02:10] maneesha opened #73 "Should workshop docs be in a public repo?"
When instructors submit extra information about a workshop the handbook tells admins to put it in this private repo: https://github.com/swcarpentry/workshop_documents
Non-staff admins don't have access to it.

Since it includes scans of sticky notes and other narratives, there may be some sensitive content here.

Should this be in a public repo?  Or should admins have access to the private repo?

[2018-03-07 02:33] maneesha commented on #57
done

[2018-03-07 02:33] #57 closed

[2018-03-07 02:34] maneesha commented on #45
Fixed: http://docs.carpentries.org/topic_folders/workshop_administration/amy_manual.html#instructor-login

[2018-03-07 02:34] #45 closed

[2018-03-07 02:36] maneesha commented on #42
Low priority as we have the "Edit on github" link on top and we aren't dealing with versions.  Might be nice to look into more later.

[2018-03-07 14:04] maneesha opened #74 "Need instructions for newsletter"
* How is content gathered?
* How is content edited?
* How is content formatted?
* How is it sent out?
* How is the subscription list managed?

[2018-03-07 14:21] maneesha commented on #73
Otherwise we can just give workshop admins access to this repo

[2018-03-13 15:59] maneesha commented on #73
WIll be moving this to carpentries organization and giving workshop admins access.
Not to be public.

[2018-03-13 16:15] maneesha commented on #56
Fixed with 54a54c877

[2018-03-13 16:15] #56 closed

[2018-03-13 16:17] maneesha commented on #70
Fixed with dcf4f12a4, 8734d1aff, and others.

[2018-03-13 16:17] #70 closed

[2018-03-13 16:36] maneesha commented on #36
Assessment added with 3007ffe73 and bb38b249

[2018-03-13 16:36] #36 closed

[2018-03-13 16:39] maneesha commented on #30
@tracykteal @ErinBecker  any suggestions?  I could do CC-BY 4.0 (the most recent version) but first I'd want to understand why for lessons, DC uses CC-BY 2.0 while SWC uses CC-BY 4.0.  Are there any salient differences?

[2018-03-13 16:42] tracykteal commented on #30
4.0 updates https://creativecommons.org/share-your-work/licensing-considerations/version4/

We should use CC-BY 4.0 or CC0 if we don't care about attribution.

[2018-03-13 17:08] maneesha commented on #25
Fixed with 6416e2fc

[2018-03-13 17:08] #25 closed

[2018-03-13 18:18] maneesha commented on #30
CC-BY 4.0 made most sense to me (that's what SWC and instructor training use) but I'm curious to know if there are any significant differences that caused DC to stick with 2.0.  I haven't read all the fine print :-).

[2018-03-13 18:30] #11 closed

[2018-03-15 10:56] tracykteal commented on #30
CI holds the Software and Data Carpentry trademarks, so they should be mentioned in the trademark section.

[2018-03-16 21:00] fmichonneau commented on #58
I think it should go in the handbook.

[2018-03-19 16:06] sheraaron opened #78 "AWI Instances Instructions"
Can we have the instructions for launching the amazon instances in the guidebook?

[2018-03-19 16:11] tracykteal commented on #78
We could for in general. For us to start them in requires login information, and we couldn't include that publicly.

I think @ErinBecker @maneesha @elizabethwilliams8 are thinking of the best way to share staff information.

[2018-03-19 18:05] maneesha commented on #78
@sheraaron  That is a good question.  Right now the instructions live with the Data Carpentry lessons.  See http://www.datacarpentry.org/cloud-genomics/02-logging-onto-cloud/ and https://github.com/datacarpentry/cloud-genomics/blob/gh-pages/_episodes/02-logging-onto-cloud.md.

I will defer to @ErinBecker  and her team of lesson maintainers on the best place to put this information.

[2018-03-19 21:31] ErinBecker commented on #60
@maneesha  - could you please give an update on this issue? @karenword is asking about whether to make updates to the Google doc or if this documentation is being integrated into the Handbook soon.

[2018-03-20 17:58] maneesha opened #79 "Survey instructions - include what to do if missing/incorrect workshop id"
The Survey Monkey set up instructions need to include a section on how to manually correct responses where they put down an invalid or missing workshop id.

[2018-03-22 18:13] maneesha commented on #74
@weaverbel Making a note here since we also emailed about this.  You noted you had ad hoc instructions.  Please share what you have with me in whatever form this exists, and I will format and incorporate it all.  We want other people to have access to this information so they can support you as needed and make your job easier! :-)

[2018-03-22 18:13] #73 closed

[2018-03-22 18:15] maneesha commented on #67
@ErinBecker  Do you already have written up anywhere how trainee checkout steps are recorded in AMY?

[2018-03-22 18:17] maneesha commented on #67
@weaverbel  I currently have written up instructions on how to format bios to get them on the SWC website.  Will the formatting be the same, and what is the timeline for having this live on the Carpentries website instead?  If it's going to be relatively soon I would  like the instructions for bios to refer to the new website rather than the  existing website.

[2018-03-23 02:40] weaverbel commented on #74
I have now mailed you an Erin my draft.

Belinda Weaver
Community and Communications Lead
The Carpentries
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Fri, Mar 23, 2018 at 4:13 AM, maneesha sane <notifications@github.com>
wrote:

[2018-03-23 13:32] maneesha commented on #74
See this document from @weaverbel
https://docs.google.com/document/d/1d8AIk9vI9nNYrig9Nrc_-4BApjPF9df78ecUYEzOmUY/edit

In Google Drive (Carpentries -> Communications -> Newsletter)

Will be adding to handbook shortly.

[2018-03-23 16:20] maneesha opened #80 "Bug BBQ page has empty sections"
These sections of the Bug BBQ are empty.  @ErinBecker @fmichonneau  is there something you want to add in here, or should we remove those sections for now?

##### Announcing Bug BBQ (Twitter)

##### Announcing Bug BBQ (Discuss list)

##### Announcing Bug BBQ (Maintainer list)

[2018-03-23 17:18] maneesha commented on #66
fixed with aa96ec3

[2018-03-23 17:18] #66 closed

[2018-03-23 18:07] maneesha opened #81 "Publishing images we don't own"
The blog post instructions (http://docs.carpentries.org/topic_folders/communications/submit_blog_post.html#how-to-contribute-a-blog-post-to-data-carpentry)

notes instructions  if the post includes "images you do not own, or for which you do not have rights to upload."

Unless these images are under a Creative Commons or similar license, should we be using these at all?  @weaverbel  do we need to

[2018-03-23 18:11] fmichonneau opened #82 "add mention of using permalink in yaml header for data carpentry blog posts"
I'll create the pull request and reasoning behind it soon, just didn't want to forget about.

[2018-03-23 18:12] maneesha opened #83 "Who approves blog post PRs?"
Instructions in the blog post section (http://docs.carpentries.org/topic_folders/communications/submit_blog_post.html#how-to-contribute-a-blog-post-to-data-carpentry)

tell people to submit a PR and check that the Travis checks have passed.  After that, who actually goes in and merges the PR?

[2018-03-23 18:34] maneesha commented on #30
Need to look into this.   Need to change the word copyright, not just the following text.
In conf.py changing

copyright = '2018, The Carpentries'  to copyright = '2018, The Carpentries under CC BY 4.0' still makes it use the word "copyright" on the site.

[2018-03-23 19:25] ErinBecker commented on #39
1) Update the "this has been migrated to a script" text to say "This email is usually sent with a script. The canonical version of the text is the version below."

2) Clean up scripts to remove api links and add instructions for formatting csv files (which columns are needed).

3) Add scripts to a folder in the handbook repo.

4) Add links to scripts to documentation.

[2018-03-23 19:26] ErinBecker commented on #39
2-4 can be done after the initial handbook release.

[2018-03-23 19:35] ErinBecker commented on #10
See: https://github.com/carpentries/handbook/issues/60 for link to documentation to be added.

[2018-03-23 19:35] #10 closed

[2018-03-23 19:35] #17 closed

[2018-03-23 19:39] ErinBecker commented on #41
Currently there are multiple "canonical" places where the CoC lives - the DC website, the SWC website (and soon the Carpentries website and the Library Carpentry website). The CoC pages on the websites should all link directly to the CoC page in the Handbook and not be duplicated text. This will ensure that any updates to the text are consistently shown in all locations.

[2018-03-23 19:41] ErinBecker commented on #41
Before deprecating the website versions - the CoC in this handbook needs to be updated based on changes to the website(s).

[2018-03-23 19:55] ErinBecker opened #84 "put sections in some sort of order"
Should they be in alphabetical order? Or some other order?

[2018-03-23 19:57] ErinBecker commented on #31
imho "Maintainers" should be "Lesson Maintenance"

[2018-03-23 19:57] #84 closed

[2018-03-23 19:57] ErinBecker commented on #84
closed as duplicate

[2018-03-23 20:53] tracykteal commented on #30
You can use for this the same license we're using in the lessons. @fmichonneau would be able to talk about the one in the lesson templates

[2018-03-23 21:02] fmichonneau commented on #30
There is no good reason to use CC-BY 2.0. I think where you saw 2.0 meant that the lesson hadn't updated the template in a long time. I'll work on updating the templates across DC lessons.

I think it's OK to have the word "copyright" when using a CC-BY license. It signals how the attribution should be listed.

[2018-03-27 17:25] maneesha commented on #38
@ErinBecker  The heading is being changed to "Lesson Maintenance" but per your guidance we will continue to refer to team members as "Maintainers"

[2018-03-27 17:25] #38 closed

[2018-03-27 17:30] maneesha commented on #67
@ErinBecker   and  @sheraaron   checking in to see if there are instructions written up on how to log trainee checkout progress in AMY.  If not I can work on drafting these from scratch. Thanks!

[2018-03-27 17:35] maneesha commented on #30
Thanks @fmichonneau
The footer now reads:

I can't get that to appear as a hyperlink.  Should there be more information in the "About" section of this site?

[2018-03-27 17:36] sheraaron commented on #67
@maneesha  I can share with you the document Erin created for me.

[2018-03-27 17:38] maneesha commented on #67
@sheraaron  perfect!
Noting the document here:  https://docs.google.com/document/d/1TazCstnaI9-cpyHgXZHop23HrQRZRlFPVooa5mrlcko/edit?ts=5aba8135

I will be adding this information to this site.

[2018-03-27 17:59] ErinBecker commented on #37
@maneesha - I'm working on a "Join us" page for the new Carpentries website that overlaps with some of this info.

Currently being assembled in a Google doc here: https://docs.google.com/document/d/1aLPwbJ5Fb03dHttglZsrCSql5bdzjKeCYl4nxJ6G3fI/edit

It's a bit of a mess at the moment, partially because I'm trying to figure out which of the things that are included should be in the Handbook and whic

[2018-03-27 18:00] ErinBecker commented on #40
That is definitely not intentional. Please change the link to this one: https://docs.google.com/forms/d/e/1FAIpQLSfuSUffza_DrqqMwdokdNtSgNfdxzMSmbwLw8655GU31BXPyg/viewform

[2018-03-27 18:01] maneesha commented on #39
Item 1 is done with a29d0b3

[2018-03-27 18:09] fmichonneau commented on #30
Looking around at other people are doing it, I recommend the footer to read:

I think it's a good idea to include a longer version in the "About" section or in a "License" section.

[2018-03-27 18:19] maneesha commented on #40
@ErinBecker
I am changing the link to the application.  Can you give me access to edit the application itself?  It includes a link to the maintainers guide google doc which we are deprecating in favor of this new handbook.

[2018-03-27 18:20] maneesha commented on #80
@ErinBecker  and @fmichonneau Do you want to take these sections out for now, so that we are not publishing the site with empty sections?
Or do you have info I can put in there?

[2018-03-27 18:27] fmichonneau commented on #80
I suggest we remove it for now. I'll work on this in the next week as we prepare for the April bug BBQ, and can add the information as needed. Please leave the issue open for now though.

[2018-03-27 18:41] maneesha commented on #79
fixed with 1afd0216

[2018-03-27 18:41] #79 closed

[2018-03-27 18:50] maneesha commented on #41
It looks like what is here: http://www.datacarpentry.org/code-of-conduct/
and here: https://software-carpentry.org/conduct/
is the same
so will update http://docs.carpentries.org/topic_folders/policies/code-of-conduct.html to be the same.  I think anything else should "wait" as we are making other changes as referenced in #7

[2018-03-27 19:13] ErinBecker commented on #40
Thanks @maneesha - I sent you the edit link in Slack and changed the link within the application to http://docs.carpentries.org/topic_folders/maintainers/maintainers.html.

[2018-03-27 19:18] maneesha commented on #40
Fixed with d99c78f

[2018-03-27 19:18] #40 closed

[2018-03-27 19:19] maneesha commented on #80
Fixed with 6a320c742b54218b83f6175d6b
but keeping issue open

[2018-03-27 19:21] maneesha commented on #31
Fixed with 4829725
Alphabetical order for now.
Can reopen issue if someone has other ideas.

[2018-03-27 19:21] #31 closed

[2018-03-27 19:24] maneesha commented on #30
Footer has been fixed with abff3fb
Leaving this open to add a longer version in the About --> License section.

[2018-03-27 19:26] maneesha commented on #19
Closing this as #39 refers to scripts that need to be cleaned to have identifying information removed.

[2018-03-27 19:26] #19 closed

[2018-03-27 19:35] maneesha commented on #9
Can't figure out an easy way to make this work so this is now a narrative, not a table.
Re-open if anyone ever figures out tables.
See ec6c272c

[2018-03-27 19:35] #9 closed

[2018-03-27 19:43] fmichonneau opened #94 "make code of conduct more visible"
currently we have to click down 3 levels in the menu to find the code of conduct. Could the main text be its own section, and maintain the enforcement in the policies section? Alternatively, we could have

[code]

[2018-03-27 20:41] jduckles opened #96 "Typo in screenshot"
There is a typo in the screenshot for adding a new organization. The domain ends with `eud` not `edu`
![](https://docs.carpentries.org/_images/amy_new_organization.png).

[2018-03-27 20:51] jduckles opened #98 "Screenshot coming soon"
Missing screenshot in Instructor Training section of AMY.

https://github.com/carpentries/handbook/blob/master/topic_folders/workshop_administration/amy_manual.md#instructor-training

[2018-03-27 21:00] ErinBecker commented on #41
@maneesha - I'm currently working on puting in a PR for this.

[2018-03-27 21:09] #41 closed

[2018-03-27 21:11] ErinBecker commented on #94
I'm working on putting in a PR for this right now @fmichonneau.

[2018-03-27 21:24] #94 closed

[2018-03-27 21:32] ErinBecker opened #103 "bold subheadings not showing up as subheadings"
For example in http://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#enforcement-manual, the subheadings marked as `**subheadings**` show up like this:

**Appealing**Some text.

Rather than like this:

**Appealing**
Some text.

[2018-03-27 21:33] fmichonneau commented on #94
I'd like to suggest that the code of conduct be its own section, and not be under "policies".

[2018-03-27 22:04] ErinBecker commented on #12
I don't much care which variable marking system we use. @maneesha - could you please pick one and implement across the board?

[2018-03-27 22:07] ErinBecker commented on #27
Great, thanks @maneesha. It looks like they are all there now.

[2018-03-27 22:07] #27 closed

[2018-03-27 22:19] ErinBecker commented on #47
@remram44 - It seems like there are definitely parts of the lesson-example repo that belong in this handbook, for example: http://swcarpentry.github.io/lesson-example/08-maintenance/index.html. However, not all of the information in lesson-example is a good fit for the handbook, particularly the portions that include formatted code blocks and figures (for example: http://swcarpentry.github.io/less

[2018-03-27 22:21] ErinBecker opened #105 "Move information from lesson-example/08-maintenance.md to handbook"
https://github.com/swcarpentry/lesson-example/blob/gh-pages/_episodes/08-maintenance.md

Part of https://github.com/carpentries/handbook/issues/47

[2018-03-27 22:24] ErinBecker commented on #105
Includes information about the release process and schedule.

[2018-03-27 22:44] ErinBecker opened #106 "migrate documents from mentoring repo to here"
https://github.com/carpentries/mentoring/blob/master/mentoring-groups/resources/mentoring-session-checklist.md
https://github.com/carpentries/mentoring/blob/master/mentoring-groups/mentor-agreement.md

[2018-03-27 22:54] ErinBecker commented on #106
These docs too:
https://github.com/carpentries/mentoring/blob/master/onboarding-document.md
https://github.com/carpentries/mentoring/blob/master/roles/README.md

[2018-03-28 13:36] maneesha opened #110 "where does trainers agreement go?"
Right now it is in the handbook:  http://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#trainer-agreement
but also in the Carpentries Policies GitHub Repo: https://github.com/carpentries/policies/blob/master/trainer-agreement.md

I think I remember @ErinBecker  saying she wanted to keep it in the policies repo but I can't remember or find that conversation now.  I will

[2018-03-28 13:55] maneesha commented on #37
I like having an overview of each committee ("who we are") on the website's "Join us" section.  That way in one place, on one page, people can see the scope of all Carpentries subgroups.  Each description  can then link to the the handbook where there is detailed information ( "what we do" and "how we do it").

[2018-03-28 13:56] maneesha commented on #37
I like the way it is outlined on that google doc - with a paragraph description of the group, with bullets that point to the handbook or other resources.

[2018-03-28 15:08] maneesha commented on #103
Fixed with
ce6b9514191d46 and 21c35a203e32

[2018-03-28 15:08] #103 closed

[2018-03-28 15:50] maneesha commented on #98
fixed with c1be7d8

[2018-03-28 15:50] #98 closed

[2018-03-28 15:52] maneesha commented on #67
Mostly fixed with

43b25c6 link checkout instructions to AMY manual section
bd200b7 screenshots for tracking trainee progress
0f69b89 add instructions to track trainee progress in AMY
e5a962e add training checkout file to index
771df98 move Other Tasks section to end
f766580 add instructions on Accepting Trainee Applications

Starting new issues for steps that remain

[2018-03-28 15:53] maneesha opened #111 "Need to include instructions on issuing instructor badges"
Steps on tracking checkout process have been added (see #67)
Still need instructions on issuing actual badge

[2018-03-28 15:55] maneesha opened #112 "Need instructions on publishing instructor bios to website"
Current instructions are here: https://drive.google.com/drive/folders/1cE13FvArGzQRaRZ_si5ML99cFuHbpUsY

If the instructor bio section is getting moved to the new Carpentries website soon, I'd like this to be how to build to that website rather than these old instructions.
@weaverbel  is there a timeline for this?

[2018-03-28 15:56] maneesha commented on #112
(originally referenced in #67)

[2018-03-28 15:56] #67 closed

[2018-03-28 16:31] kariljordan commented on #106
Done

[2018-03-28 17:49] maneesha commented on #12
Closing in favor of #44

[2018-03-28 17:49] #12 closed

[2018-03-28 17:50] maneesha commented on #44
Status
Completed for instructor training email templates.
Workshop Admin email templates are WIP.

[2018-03-28 18:10] maneesha commented on #110
Per conversation with @ErinBecker  all these kinds of agreements will be in the handbook only.

[2018-03-28 18:27] ErinBecker commented on #37
Closing this as this information will go into the Join Us page on the website and will link back to individual Handbook pages where relevant.

[2018-03-28 18:27] #37 closed

[2018-03-28 18:28] ErinBecker commented on #46
@symulation - Thanks for this. Yes, the pad of pads would be a good resource to add here. I'm marking this after-release so that we can think about what else goes into a "general information" or "quick links" category.

[2018-03-28 18:31] ErinBecker commented on #58
This information has been added:

[Curriculum Advisory Committee Roles](http://docs.carpentries.org/topic_folders/lesson_development/lesson_development_roles.html#curriculum-advisory-committee)
[Maintainer Guidelines](http://docs.carpentries.org/topic_folders/maintainers/maintainers.html)

I will add information about Translation coordinators and lesson infrastructure (if it exists).

[2018-03-28 18:34] maneesha commented on #78
We will keep this with the genomics lesson.

[2018-03-28 18:34] #78 closed

[2018-03-28 18:36] maneesha commented on #110
Change this to "images you don't own but do have the rights to use"

[2018-03-28 18:37] maneesha commented on #81
Change this to "images you don't own but do have rights to...."  Example is Creative Commons or other open license images.

[2018-03-28 18:38] maneesha commented on #83
Say that it will be merged by Carpentries staff

[2018-03-28 18:41] ErinBecker commented on #110
@maneesha - please deprecate the version in the policy repo.

[2018-03-28 19:04] maneesha commented on #110
done:
https://github.com/carpentries/policies/blob/master/trainer-agreement.md

[2018-03-28 19:04] #110 closed

[2018-03-28 19:09] #44 closed

[2018-03-28 19:21] #83 closed

[2018-03-28 19:21] #81 closed

[2018-03-28 20:28] ErinBecker opened #117 "review lesson development section"

[2018-03-28 20:29] ErinBecker opened #118 "add section "regional communities""
with information about

[African Task Force](https://software-carpentry.org/join/subcom/african-tf)
Carpentries en Latinoamerica

[2018-03-28 20:33] ErinBecker commented on #118
Move info from here: https://github.com/carpentries/latinoamerica

[2018-03-28 20:48] Belinda commented on #112
I don't know how I came to be on this thread but I'm not the @Belinda you
need?

Anyway of taking me off and putting correct the one on, I've had a few of
these messages now

Cheers,

Belinda Johnstone

On Thu, Mar 29, 2018 at 2:56 AM, maneesha sane <notifications@github.com>
wrote:

[2018-03-28 20:49] ErinBecker commented on #58
Added info on lesson infrastructure subcommittee roles: https://github.com/carpentries/handbook/pull/119

Translation coordinator role should be part of a separate section "Lesson Translations". Opening a new issue for that.

[2018-03-28 20:49] #58 closed

[2018-03-28 20:51] ErinBecker opened #120 "add section on lesson translations"
Include:

- Role of Translation Coordinators
- Subsection for Spanish lesson translations including info from https://github.com/Carpentries-ES and links to there.

[2018-03-28 20:51] maneesha commented on #111
I will do this sooner if I can but not urgent to get out in first release.

[2018-03-28 21:06] ErinBecker opened #123 "Email templates vs template emails"
inconsistent wording in sidebar labels - I recommend standardizing to "email templates"

[2018-03-28 21:08] ErinBecker opened #124 "add "coming soon" to sections we're not going to have filled out before release"
E.g. scheduling a bug bbq, creating a bug bbq website.

I'm sure there are others.

[2018-03-28 21:31] ErinBecker commented on #123
Closed with #127

[2018-03-28 21:31] #123 closed

[2018-03-28 21:32] ErinBecker opened #128 "missing email templates for workshop checklists"
There were some template emails associated with the workshop checklists on the Data Carpentry website that aren't appearing in the "teaching and hosting" section in the handbook.

The text of these emails is here: https://github.com/datacarpentry/datacarpentry.github.io/blob/master/pages/email-templates.md

[2018-03-28 21:52] ErinBecker opened #129 "add information about bug bbq"
Please add info about how to schedule a bug bbq and how to set up a bug bbq website to http://docs.carpentries.org/topic_folders/lesson_development/bug_bbq.html. This isn't urgent and can be done after the handbook release.

[2018-03-28 21:59] #105 closed

[2018-03-28 22:08] ErinBecker commented on #48
To do list:

- [ ] Step for Maintainer Onboarding process
- [ ] Template emails
- [ ] Maintainer Onboarding lesson (https://carpentries.github.io/maintainer-onboarding/index.html)
- Maintainer operation i.e. day to day work with information such as:
- [ ] How to deal with issues (most information is available in the Maintainer Onboarding lesson)
- [ ] How to label issues
- [ ] How to get help (sla

[2018-03-29 13:06] rgaiacs opened #133 "Can't we use Jekyll?"
I think that http://www.sphinx-doc.org/ and https://readthedocs.org/ are great but we aren't using them for our lessons. Have the handbook in Sphinx and Read The Docs means that contributors will have to learn two markup languages, two project organisation and two workflow. Can we migrate this to our lesson template?

[2018-03-29 17:49] #96 closed

[2018-03-29 18:04] #60 closed

[2018-03-29 18:10] maneesha opened #136 "discussion session info is in 3 different docs under mentoring"
Need to organize/consolidate

[2018-03-29 18:44] maneesha commented on #124
@ErinBecker   I fixed one line here (4c85819b24e)
Let me know if you catch any others that we should note this for.

[2018-03-29 19:44] fmichonneau opened #139 "add section about Slack"
- [ ] list of channels, naming scheme
- [ ] links to join
- [ ] add "archivebot" to the public channels for archival
- [ ] add link to slackarchive.io

(not urgent, can be labelled "after-release")

[2018-03-29 19:49] ErinBecker commented on #118
Added info on African Task Force with: https://github.com/carpentries/handbook/pull/138

[2018-03-29 19:55] ErinBecker opened #141 "new redirects needed - WIP"
Need the following redirects:

- [ ] from https://software-carpentry.org/join/subcom/african-tf/ to https://docs.carpentries.org/topic_folders/regional_communities/african_task_force.html#join-us

- [x] Remove text from README here https://github.com/carpentries/latinoamerica and replace with link to http://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html

[2018-03-29 21:39] ErinBecker commented on #118
Added info on Carpentries in Latin America with: https://github.com/carpentries/handbook/pull/142

[2018-03-29 21:39] #118 closed

[2018-03-30 14:37] fmichonneau opened #146 "Use similar configurations for our blogs"
There are some differences in the way the `_config.yml` file is written for the SWC and the DC websites, leading to differences in the YAML that is required and where to put the files when writing a blog post. Given that both websites are using the same Jekyll template, there is no reason for this. I'd like to suggest we harmonize the configuration of both sites (mainly making the DC configuration

[2018-04-02 13:43] maneesha commented on #146
Want to be sure @weaverbel is involved this this

[2018-04-02 13:44] maneesha commented on #139
Adding @weaverbel  to this since she is managing our communications channels

[2018-04-02 18:44] ErinBecker opened #150 "missing email template"
Missing the "thank you for your lesson contribution" email template from http://docs.carpentries.org/topic_folders/instructor_training/email_templates.html.

[2018-04-02 18:45] ErinBecker commented on #150
Found it - it was called "Did not complete discussion or demo". Please change the title to "completed lesson contribution".

[2018-04-02 18:50] ErinBecker opened #151 "check links in email templates"
Some of the email templates link to documentation that was on the website but is now in the handbook.

E.g. the "did not complete discussion or demo" template links to the checkout checklist here: http://www.datacarpentry.org/checkout/, but should link to the version in the handbook. Where is the version in the handbook?

[2018-04-02 21:26] ErinBecker opened #152 "teaching and hosting section (for instructors)"
Right now is just checklists. What other resources do instructors need? How do they start to prep to teach a workshop. This section should be beefed up "how to run a workshop".

[2018-04-02 21:42] ErinBecker opened #153 "convert links to relative links"
I was being lazy and used absolute links. I need to change these.

[2018-04-02 21:42] tracykteal opened #154 "make logo smaller"
It would be good to make The Carpentries logo smaller so we can see the table of contents a little more towards the top.

[2018-04-02 22:43] weaverbel commented on #146
@fmichonneau @maneesha We should have a proper discussion about the website so everyone understands why it is the way it is and how we got here.

The original plan was for the website to be a small, mainly 'pass-through' site that would be OK to launch as an interim site while we figured out what we needed for a new merged Carpentries website. We picked the agency template because it was suited to

[2018-04-02 23:05] weaverbel commented on #152
We could add a section on how to get ready that includes their being able to attend instructor discussion sessions to prepare to teach and then to attend post-workshop to talk over what went well/not so well. It should also tell them where to find the instructor guides for lessons and other useful things for first timers. I find too that in instructor training, people always ask me how I do it, so

[2018-04-03 00:54] tracykteal commented on #146
Yes, having this be a smaller website with links to the handbook and information on the SWC/DC/LC pages is still a good plan!

This might not be the final website, but it will still be around for several months at a minimum, and we know that short term often turns into longer term. If this template isn't working, then we should switch. It sounds like some time now could save headaches and more tim

[2018-04-03 21:59] ErinBecker commented on #106
Reopening because I'm not sure if @maneesha  wanted to keep this open so she knows to deprecate the old content in the mentoring repo.

[2018-04-04 18:49] fmichonneau commented on #153
working on this now

[2018-04-04 19:17] fmichonneau opened #155 "missing blog template?"
The last item on this page http://docs.carpentries.org/topic_folders/mentoring/discussion_session_checklist.html#after-the-discussion links to a template for blog posts, but I don't see it in the repository. Should the link be removed or does someone have the template?

cc: @kariljordan

[2018-04-04 19:24] kariljordan commented on #155
Agreed. We don't have a blog post template. We have [blog headers](https://docs.google.com/document/d/1NoNWz64-9GmavlqF1nPSmYyEzYEHwhPL-FyVE7qa36g/edit) though.

[2018-04-04 19:34] maneesha commented on #155
Yes, and instructions on how to set up the blog headers are in the handbook:
http://docs.carpentries.org/topic_folders/communications/submit_blog_post.html

I am deprecating the document @kariljordan  just linked to.

[2018-04-04 19:45] #153 closed

[2018-04-04 19:45] #154 closed

[2018-04-04 20:14] fmichonneau commented on #155
I linked to an older blog post about one of the discussion session instead. Closing

[2018-04-04 20:14] #155 closed

[2018-04-04 22:28] maneesha commented on #151
We do not have instructor training checkout steps in the handbook.  Do we want to have a separate document with the checkout steps (separate from what's in the instuctor training curriculum?)
We would then have to keep a checkout checklist in sync with this (http://carpentries.github.io/instructor-training/checkout/)

For example, even now, this page (http://www.datacarpentry.org/checkout/) does n

[2018-04-04 22:29] maneesha commented on #136
This is still messy, and I got myself caught in an even messier merge conflict when I tried pushing the changes I made.  I will continue working on it but I could use help with this.

[2018-04-04 22:31] maneesha commented on #106
Yes, I need to deprecate those pages.  I also need to spend more time cleaning up the mentoring section as referenced in #136

[2018-04-04 22:36] maneesha commented on #150
fixed with 8f954b63a597

[2018-04-04 22:36] #150 closed

[2018-04-05 00:10] maneesha opened #160 "remove contents of _build when running make html"
The website can be built locally using `make html`.  This builds all the website files in the `_build` directory.  It does not overwrite the existing files in that directory so some changes don't take effect.

So I have been manually deleting the folders inside `_build` before each time I run `make html`

Is it possible to modify `make html` so that it runs `rm -rf  _build/html` and  `rm -rf  _bui

[2018-04-05 01:34] sheraaron opened #162 "Workshop Admin - Eventbrite"
_If needed Workshop Administrator sets up registration in Eventbrite.
If there is a registration fee, Program Manager informs Business Administrator that this will need to be refunded or applied to the workshop invoice._

How is the Program Manager notified if Eventbrite is being used? Does the Workshop Admin email the PM directly or is they are a notification from Eventbrite that goes to the PM?

[2018-04-05 13:02] kariljordan commented on #106
I know Erin did a ton last night, but if there's more work to be done on this section please let me know.

[2018-04-05 17:13] #160 closed

[2018-04-05 17:25] maneesha commented on #136
Closing - fixed with various commits on April 4

[2018-04-05 17:25] #136 closed

[2018-04-05 17:31] maneesha commented on #106
All of these documents have been deprecated with a link to the mentoring section of the handbook.  Closing as I don't think there is anything else to do here.

[2018-04-05 17:31] #106 closed

[2018-04-05 17:32] #141 closed

[2018-04-05 19:09] maneesha opened #170 "DC workshop template is no longer being used"
This needs to be updated http://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#instructor-checklist

[2018-04-05 19:12] maneesha commented on #152
Add paragraph about how to sign up, how to get on mailing list

[2018-04-05 19:13] maneesha commented on #152
For the "Set up the workshop website using the Software Carpentry or Data Carpentry templates" bullet - add reminder that instructions are in the readme.

[2018-04-05 19:18] maneesha opened #171 "collapse reimbursment policy"
This line:
The Carpentries Reimbursement Policy

does not need to list out bullets in TOC.

[2018-04-05 19:33] ErinBecker commented on #48
I've added some of this information about put in placeholders for the other two items in the checklist above. Will be adding the last bits of information at a later point.

[2018-04-05 21:36] ErinBecker opened #173 "list of changes - readthrough"
I'm doing a readthrough of the handbook and saving a list of changes I can't make right away here so that we have a record of them:

# Assessment
- [x] [learner assessment](https://docs.carpentries.org/topic_folders/assessment/assessment.html) links to the datacarpentry website. Will need to change link to go to The Carpentries Assessment page.
- [x] links at bottom of [learner assessment page](ht

[2018-04-06 17:18] #171 closed, assigned to maneesha

[2018-04-07 08:54] sheraaron commented on #162
@maneesha I agree. You do not need to be the middleman. In the workflow it assumes that the Program Manager is notified if there is a registration fee.

 I'd recommend, the WA notifies BA if there is a registration fee.

[2018-04-11 01:06] maneesha opened #178 "Redirect Mentoring info to handbook"
This page
https://software-carpentry.org/join/subcom/mentoring/

should redirect to

https://docs.carpentries.org/topic_folders/mentoring/mentoring-subcommittee.html

[2018-04-11 01:07] maneesha commented on #178
Assigning to @fmichonneau  since he's been fixing all the redirects to date.

[2018-04-11 15:24] sheraaron opened #179 "Workshop Admin - Email Templated List"
On the left side pane it doesn't list all of the templates like it does for the Instructor training emails. Can we get the list to make it easier to go to an email rather than scrolling through the text to locate a particular email?

[2018-04-11 15:24] #179 closed

[2018-04-11 15:25] sheraaron commented on #179
Scratch this! I see its broken down into categories.

[2018-04-11 15:35] ErinBecker opened #181 "add link to trainer training curriculum"
In the [Becoming a Trainer](https://docs.carpentries.org/topic_folders/instructor_training/trainers_training.html#trainers-training-program) section, there should be a link to the [Trainer Training Program curriculum](https://carpentries.github.io/trainer-training/). However, the schedule in the curriculum needs to be fixed first - it is currently populated with a repeat of the first weeks reading

[2018-04-11 15:36] ErinBecker opened #182 "Application to become a Carpentry Trainer shows responses"
The application link [here](https://docs.carpentries.org/topic_folders/instructor_training/trainers_training.html#reviewing-new-trainer-applications) goes to the editable version of the application, which includes responses. This needs to be changed to a submission only view.

[2018-04-11 15:54] #182 closed

[2018-04-11 20:50] ErinBecker opened #186 "broken links"
https://docs.carpentries.org/topic_folders/instructor_training/email_templates.html#trainee-did-pass-teaching-demo
https://docs.carpentries.org/topic_folders/instructor_training/email_templates.html#trainee-didnt-pass-teaching-demo
https://docs.carpentries.org/topic_folders/instructor_training/email_templates.html#email-after-training-event

[2018-04-11 20:51] ErinBecker commented on #186
Looks like it should be email_templates_trainers.html instead of email_templates.html.

[2018-04-12 13:51] maneesha opened #189 "redirect mentoring page on DC website?"
In the For Instructors menu
should the Mentoring opportunities redirect to the Mentoring section of the handbook?
@ErinBecker

[2018-04-12 13:53] maneesha opened #190 "DC Roadmap for lesson development to handbook?"
Should the Data Carpentry roadmap for lesson development go in the handbook instead of the DC website?

[2018-04-12 13:53] maneesha commented on #190
Also this roadmap refers to SWC and DC steering committees

[2018-04-12 15:47] ErinBecker opened #191 "add lesson release checklist to lesson development section"
The checklist is here: https://github.com/datacarpentry/lesson-release/blob/master/release-checklist.md

[2018-04-12 18:02] maneesha opened #192 ""Edit on github" link does not work for top menu pages"
If you are on a top menu page like
- https://docs.carpentries.org/topic_folders/assessment/index.html
- https://docs.carpentries.org/topic_folders/communications/index.html
- https://docs.carpentries.org/topic_folders/instructor_training/index.html
etc.

clicking on "Edit on github" takes you to a page that just says "Not found"

Clicking "Edit on github" from any subpage works as expected.

[2018-04-13 01:16] jduckles commented on #192
`/tree/` is somehow missing from the links.

[2018-04-13 14:12] gvwilson opened #193 "installation/setup failure on Mac OS X"
Followed the instructions on the repository home page to set up on Mac OS X, got a complaint about an unsupported theme option (trace below). Was on `master` branch at rev e8e351b90e91, 2018-04-13.

[code]

I then tried to install a second time, and it apparently worked:

[code]

However, my attempt to build locally still failed:

[code]

[2018-04-17 14:27] fmichonneau commented on #192
Looking into it

[2018-04-17 14:43] maneesha commented on #192
@fmichonneau   I think we did the same thing at the same time:  01465f1240bd
However looking at the live build (http://docs-src.carpentries.org/index.html) it still does not work.

[2018-04-17 14:48] fmichonneau commented on #192
fixed by e9747198d58c5284dd42d66078b90362c38e0cae

[2018-04-17 14:48] #192 closed

[2018-04-17 14:49] fmichonneau commented on #192
@maneesha Ha! I didn't see it. It should be fixed now. This might be a bug in the template, but this fix should address it for now.

[2018-04-17 18:58] maneesha commented on #193
Thanks @gvwilson  for sharing this and @katrinleinweber  for the fix.
The build has been working fine for me on LInux/Ubuntu.
I've never used a Mac so I will leave it to someone who knows about this to approve the PR.

[2018-04-18 11:12] tobyhodges commented on #186
There are also broken links from the Mentoring Subcommittee page. The links to the role descriptions lead to a 404.

[2018-04-20 14:50] #139 closed

[2018-04-22 23:02] weaverbel opened #200 "Change colours to match website?"
It might be nice to match the Handbook colours to the colours on the new website so things look uniform across our sites.

[2018-04-23 07:18] tobyhodges commented on #193
I tried, but still getting an error when building. See below.

[code]

[2018-04-23 07:49] katrinleinweber commented on #193
Would commenting-out or deleting each `unsupported theme option` be... An option? If yes, please feel free to edit #194.

[2018-04-24 23:52] tracykteal opened #202 "email lists"
On the 'Slack and email lists' section, it would be good to add a more full list of the email lists rather than point to the SWC join page.

[2018-04-26 13:30] maneesha commented on #202
Now that the Carpentries website is up this should actually point to the [Carpentries page](https://carpentries.org/community/#mailing-lists), rather than the SWC page.

I am reluctant to have the mailing lists spelled out on both the website and the handbook as that means there are two places we have to keep things current.  What do others think?  @ErinBecker @weaverbel

[2018-04-26 13:35] maneesha commented on #162
Fixed with e7de030559

[2018-04-26 13:35] #162 closed

[2018-04-27 11:45] fmichonneau opened #205 "Redirect support?"
From a [quick search](http://www.sphinx-doc.org/en/master/search.html?q=redirect) it doesn't seem that sphinx has a built-in way of handling redirects.

 There is [this workaround](https://tech.signavio.com/2017/managing-sphinx-redirects) but it seems a little hacky to me.

Am I missing something?

@jduckles is there another layer in our infrastructure we could use to do the redirects?

[2018-04-27 20:16] jduckles commented on #205
We can add lines to the docs-src.carpentries.org nginx server.

Nginx [instructions](https://www.digitalocean.com/community/tutorials/how-to-create-temporary-and-permanent-redirects-with-nginx)

These lines would go inside the server block of: `/etc/nginx/sites-enabled/docs.carpentries.org`

Then run:
[code]

[2018-05-01 17:41] symulation opened #207 "Missing "p" in "equitment""
It's under the host checklist.

[2018-05-01 21:54] #207 closed

[2018-05-07 15:36] tracykteal opened #208 "communication materials to handbook"
Could be a good idea to add communication materials to the handbook, under Communications, such as presentations and grant text. I'll add some things that I have.

[2018-05-14 12:46] lexnederbragt opened #209 "Add link to google form for submitting blog posts"
I thought there was a google form for submitting blog posts, but I couldn't find it. Maybe add a link to it at https://docs.carpentries.org/topic_folders/communications/submit_blog_post.html?

[2018-05-16 03:38] weaverbel commented on #209
There are a couple of forms - one for My Favourite Tool and another for generic posts. I will add them.

[2018-05-16 05:33] weaverbel commented on #209
Fixed by this PR https://github.com/carpentries/handbook/pull/211

[2018-05-16 05:33] #209 closed

[2018-05-16 05:34] weaverbel commented on #208
What about linking what we have in `carpentries/commons` ?

[2018-05-23 16:33] ErinBecker opened #217 "add more zoom troubleshooting"
Add notes about these issues to Trainers guide: https://carpentries.topicbox.com/groups/trainers/T5d6a03e9b0abc646

[2018-05-23 16:40] fmichonneau commented on #217
still useful to add, but the limitation in wayland has been fixed upstream, so in the few months, this issue should resolve itself...

[2018-05-23 16:40] ErinBecker commented on #217
Once these tips have been added to the handbook, link that section to the top of the demo Etherpad so that Trainers have easy access.

[2018-05-23 20:07] ChristinaLK opened #218 "adding code of conduct info to handbook"
There have been at least three threads in the instructor training repo that I think would be relevant for the handbook:
- how to introduce the Code of Conduct on workshops: https://github.com/carpentries/instructor-training/issues/645
- when introducing the CoC, identifying if you're a mandated reporter (https://github.com/carpentries/instructor-training/issues/659)
- how to respond to incidents (

[2018-06-05 16:17] maneesha commented on #208
@tracykteal and @weaverbel Where would you like these communications materials to go?  I'm happy to have the "commons" materials linked to from the handbook as long as we know things will be kept up to date and easy to find.

[2018-06-05 16:18] maneesha commented on #218
pinging @kariljordan  and @ErinBecker  on this

[2018-06-05 16:18] maneesha commented on #205
@fmichonneau  and @jduckles  are all the redirects fixed now?

[2018-06-05 16:22] maneesha commented on #202
Link to list of mailing lists has been updated with dfdbcd51c78

Do people think we should still have the list of lists in the handbook rather than pointing to the website join page?  @ErinBecker @weaverbel @tracykteal

[2018-06-05 16:28] maneesha commented on #186
@ErinBecker  and @tobyhodges  I think these may have been fixed along the way.  Can you let me know if you still see anything wrong?

[2018-06-05 16:29] ErinBecker commented on #186
Those appear to me to be fixed. Ok to close from me.

[2018-06-05 16:29] maneesha commented on #178
pinging @fmichonneau

[2018-06-05 17:34] maneesha commented on #205
(acutally just pinged @fmichonneau  on https://github.com/carpentries/handbook/issues/178)

[2018-06-05 17:40] tobyhodges commented on #186
Yep, the links on the mentoring page work too now. Thanks, you can close this.

[2018-06-05 17:50] #186 closed

[2018-06-05 18:11] maneesha commented on #111
fixed with 32b3224349ecd

[2018-06-05 18:11] #111 closed

[2018-06-05 18:47] maneesha commented on #200
@weaverbel do you have any recommendations of people who have the skills to do this?

[2018-06-05 19:05] ErinBecker commented on #200
@fmichonneau - maybe we could ask the lesson infrastructure group about this (as a one-off, not an ongoing commitment for supporting the handbook).

[2018-06-05 20:01] tracykteal commented on #202
I think it's going to be difficult to keep the list of lists synched with the lists in TopicBox, either in the Handbook or on the Join page. Maybe instead we could list the categories of lists, and point to the TopicBox main page for the full list. Categories of lists could be

- local communities
- curriculum
- discussion
- subcommittees

[2018-06-05 20:02] tracykteal commented on #208
Yes, let's link to https://github.com/carpentries/commons. I just did some updates to that repo, and added a link to a Google folder where we and others can put things for presentations.

[2018-06-06 05:41] kariljordan commented on #218
@karinlag and the CoC committee are currently revising the CoC. Once that's complete we'll update the handbook.

[2018-06-12 18:12] maneesha commented on #208
Carpentries Commons added with 7bbd0584b6b22fff

[2018-06-12 18:12] #208 closed

[2018-06-12 18:14] maneesha commented on #202
Right now it links to the Carpentries page with the categorized list of lists.  I agree that it will be difficult to keep the list of lists synced in different places so I'm closing this.

[2018-06-12 18:14] #202 closed

[2018-06-12 18:15] maneesha commented on #190
Assigning to @fmichonneau  as it is a curriculum issue

[2018-06-12 18:17] maneesha commented on #133
@rgaiacs The decision to use Read the docs was after a bit of staff discussion about the platform and the purpose of it.  The purpose of this site is different than our lessons, and we found this was the best platform to meet our needs.

[2018-06-12 18:17] #133 closed

[2018-06-12 18:18] maneesha commented on #53
Closing as I don't get this error anymore.

[2018-06-12 18:18] #53 closed

[2018-06-12 20:22] ErinBecker commented on #217
Fixed with https://github.com/carpentries/handbook/pull/224

[2018-06-12 20:22] #217 closed

[2018-06-19 19:51] maneesha commented on #218
Assigning to @kariljordan  for whenever the CoC committee has completed revisions to the handbook.

[2018-06-20 01:02] kariljordan commented on #218
Thanks! Per @karinlag, the CoC is currently discussing a RfC process. I put a note in my Asana to revise this when the CoC has been updated.

[2018-06-20 03:14] sheraaron opened #225 "Email Templates on Hosting/Teaching page"
There should be a link on the [Hosting/Teaching](https://docs.carpentries.org/topic_folders/hosts_instructors/index.html) a workshop page for the email templates from [Instructors](https://docs.carpentries.org/topic_folders/workshop_administration/email_templates.html#from-instructors-and-hosts). It's not clearly defined that there are templates available and isn't cleat to know to go to Workshop

[2018-06-20 11:56] maneesha commented on #225
Good suggestions @sheraaron
Would you be able to put in PR to add these links in?

[2018-06-21 11:20] #178 closed

[2018-06-26 14:09] maneesha commented on #189
fixed - closing.

[2018-06-26 14:09] #189 closed

[2018-06-26 14:12] maneesha commented on #173
The Carpentries twitter feed added with 702aacfe781

[2018-06-26 14:13] maneesha commented on #173
Assigning to @weaverbel  to follow up on Communications items in list above

[2018-06-26 14:14] maneesha commented on #173
Assigning to @kariljordan  to follow up on Assessment items in list above

[2018-06-26 14:14] maneesha commented on #173
Assigning to @maneesha to follow up on Programmatic assessment items in list above

[2018-07-02 16:50] maneesha opened #229 "How to keep local email scripts in sync with text in handbook?"
We have a few email templates (specifically in the Instructor Training section) that note:

The person who sends these out likely has a version of this text saved locally attached to their script.  How do we ensure that person knows to keep their local text synced with the canonical text in the handbook whenever the handbook text changes?

Tagging @karenword  and @ErinBecker  since I think they ar

[2018-07-02 16:51] maneesha commented on #205
@fmichonneau and @jduckles are all the redirects fixed now?
Can we close this?

[2018-07-02 17:49] maneesha commented on #42
Don't think we need this - closing.

[2018-07-02 17:49] #42 closed

[2018-07-02 19:21] fmichonneau commented on #205
unfortunately not. I haven't had time to implement server-side redirects, and probably won't be able to do so in the near future.

[2018-07-02 22:19] jduckles commented on #205
They are fixed, it was a problem with the website `_layouts/redirect.html` not using Jekyll variable calls `{{ }}` that weren't in use by the plugin any longer, hence the empty redirects.

[2018-07-02 22:19] #205 closed

[2018-07-06 17:51] kariljordan opened #230 "Programmatic assessment"
Are there plans to update the programmatic assessment section of the handbook @maneesha?

[2018-07-06 18:12] maneesha commented on #230
Yes @kariljordan  Thanks for the reminder.  I'll be working on this.

[2018-07-11 22:59] #124 closed

[2018-07-19 19:39] maneesha commented on #230
Will do this all at once after the next assessment report is published.

[2018-08-03 18:41] maneesha commented on #225
fixed with 6e7311acd7dd2bb22d8

[2018-08-03 18:41] #225 closed

[2018-08-17 14:35] tobyhodges opened #246 "Include info on lesson incubation?"
This topic has come up several times in discussion sessions, most recently with @orchid00 this morning.

Does the information in the [SWC page on Lesson Incubation](https://software-carpentry.org/lessons/incubation/) still accurately reflect the process through which people should go to propose and develop new Carpentries lessons? If so, I think that this information should be added to the handboo

[2018-08-17 14:38] tobyhodges commented on #246
Ah. Duplicate of #190. Closing and I will comment to bump the discussion there

[2018-08-17 14:38] #246 closed

[2018-08-17 14:39] tobyhodges commented on #190
This topic has come up several times in discussion sessions, most recently with @orchid00 this morning.

Does the information in the roadmap still accurately reflect the process through which people should go to propose and develop new Carpentries lessons? If so, I think that this information should be added to the handbook.

I’d like to be able to answer the question with a bit more confidence ne

[2018-08-17 14:47] tracykteal commented on #190
It is a bit out of date, but the process is under development.

The Vision and Plans for curriculum development blog post outlines the next steps https://carpentries.org/blog/2018/07/curriculum-vision/ and The Carpentries Curriculum Development handbook is under development https://carpentries.github.io/curriculum-development/

We could add a 'Lesson Development Roadmap' category to the handbook,

[2018-08-17 15:18] orchid00 commented on #190
To add some context, in respect to the discussion this morning with Toby @tobyhodges
I was not referring to lessons in development, but adding that to the curriculum vision sounds great! @tracykteal

My suggestion was to have a place to share "other" lessons out there that are being used to teach similar topics (git shell, R, python, etc), could be source of **inspiration**. A low commitment sugge

[2018-08-17 22:45] tracykteal commented on #190
Thanks @orchid00! We have a thread on 'resources for after a workshop' https://github.com/carpentries/conversations/issues/18 that I think fits with the idea of a place to share 'other' lessons. Something like an etherpad would be easier to add to and organize though. Under the 'Teaching and Hosting' section in the handbook, we could have a link to 'Other lesson resources' that points to an etherp

[2018-08-18 05:53] tobyhodges commented on #190
+1 for the etherpad idea.

Thanks all for the information. I'm looking forward to hearing more about the pathways for lesson contributions.

[2018-08-18 17:59] orchid00 commented on #190
thanks for joining the conversation :D

@tracykteal yeah I think that fits the purpose having an etherpad that is easily findable/searchable/accessible and that people can contribute too, sounds good to me!

I've came across thread discussion https://github.com/carpentries/conversations/issues/18 sometime ago, cool resources indeed! However the issue is closed, would be good to add those links to

[2018-08-19 11:14] tobyhodges commented on #190
We can talk about this at the mentoring committee meeting tomorrow, which I hope will encourage contributions from the folks there. @orchid00 could you set up an etherpad please?

[2018-08-20 20:13] maneesha opened #250 "Restructure "not good starting points for demos""
The section on not good starting points for demos ( [repo](https://github.com/carpentries/handbook/blob/master/topic_folders/instructor_training/trainers_guide.md) and [in handbook](https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#not-good-starting-points-for-demos) ) is difficult to read.  It's mostly what's not good points but for the geospatial lessons it inclu

[2018-08-21 17:23] sstevens2 opened #251 "Links to logos somewhere in the handbook?"
Maybe we could add links to the logos somewhere in the handbook?
I would make a PR but I wasn't really sure where to put this info in the docs, maybe under communications? Opinions on where to put links to logos?

https://github.com/carpentries/logo

[2018-08-22 04:25] weaverbel commented on #251
I have written a new page to address this question now: https://github.com/carpentries/handbook/blob/master/topic_folders/communications/logos.md

[2018-08-22 07:03] weaverbel commented on #251
Actually I have had to take that down until we get something better that meshes with trademark policy.

[2018-08-22 17:24] maneesha opened #252 "add email template about registration/eventbrite"
In workshop admin section, we should have a template used to request information to set up Eventbrite registration.

[2018-08-22 19:43] sstevens2 commented on #251
Thanks for looking into this  @weaverbel ! Sounds like it might be complicated??

Sorry for the trouble, I needed some icons for a local orientation info presentation I'm putting together and thought others might look in the docs first now too.

[2018-08-23 03:30] weaverbel commented on #251
No worries @sstevens2 - it is actually good that you jogged us into action about this as it is something we should have nailed down before.

[2018-08-29 00:33] maneesha commented on #190
Thanks for this discussion @tobyhodges  and @orchid00
Let me know what updates you think would benefit having in the handbook.

[2018-08-29 20:09] ErinBecker commented on #250
I've added this to my to-do list. Hoping to get to it later this week or early next.

[2018-08-30 06:17] sheraaron commented on #252
see #254

[2018-08-30 06:17] #252 closed

[2018-08-31 19:32] ErinBecker commented on #250
@maneesha  - I'm working on putting this into a table now.

[2018-09-04 22:21] tracykteal opened #258 "Add style guide to Communications section"
We have a draft style guide https://docs.google.com/document/d/10KutjajR-5RJfPAF8UQlxzcd8tx4PNFXH0acDFD2dBs/edit. When we create the shortened version, it can be added to the handbook.

[2018-09-04 23:11] tkphd commented on #258
The linked draft is not publicly accessible (it says, "Access Denied" to me).
Has there been, or will there be, a public request for comments?

[2018-09-04 23:54] maneesha commented on #258
This document access is limited to Carpentries staff and a few community members.  I don't want to open up public access without verifying with @weaverbel  that it is ready for public review.  Belinda - can you verify and change permissions accordingly?

[2018-09-05 02:13] jduckles commented on #9
FYI: Made tables work using [this extension](https://github.com/ryanfox/sphinx-markdown-tables), it has been added to the `requirements.txt` for this repo and the build environment has it now too.

[2018-09-05 04:03] jduckles commented on #258
Talked to @weaverbel should be good to go, link above is should be open for anyone to make comments.

[2018-09-05 06:08] weaverbel commented on #258
I propose I break the guide up into style for referring to Carpentries and lessons and all that and then the grammar and syntax for writing can go in a separate document, possibly incorporating the writing tips I already developed separately. Thoughts?

[2018-09-05 17:39] tkphd commented on #258
@jduckles, the [link](https://docs.google.com/document/d/10KutjajR-5RJfPAF8UQlxzcd8tx4PNFXH0acDFD2dBs/edit) still returns "Access Denied" for me.

[2018-09-06 02:32] weaverbel commented on #258
Ok the style guide has now shrunk to 7 pages and is really trying to cover just the stuff people need to know to reference us etc. What else is needed?

[2018-09-06 19:04] tkphd commented on #258
Under **Q / quotation marks**,

Under **S / square brackets**,

These directives seem to be in conflict. It would help to have a clarifying example for parenthesis inside direct quotes.

[2018-09-12 13:58] #250 closed

[2018-09-26 23:31] ErinBecker commented on #151
This issue can be closed. The http://www.datacarpentry.org/checkout/ page now links to https://carpentries.github.io/instructor-training/checkout/, which has been updated to not mention any particular lessons.

[2018-09-26 23:31] #151 closed

[2018-10-04 09:26] mkcor opened #283 "Recommend pre-workshop get-together in host checklist?"
Hi everyone,

If I recall correctly, the operations checklist (at the time https://software-carpentry.org/workshops/operations/) used to recommend (at least, mention) that the host organize a get-together (e.g., dinner) right before the workshop begins, for instructors and organizers to meet in person (and, in spirit, start forming a team).

But I can't find this in https://docs.carpentries.org/to

[2018-10-04 13:52] maneesha commented on #283
Hi @mkcor  Thanks for raising this issue here.  We definitely do encourage people to get together before a workshop, as time and budget permits.  As you noted, that's really important as you're going to be working as a team over the next two days.

We have information for instructors spread out in a couple of places - [Teaching and Hosting](https://docs.carpentries.org/topic_folders/hosts_instruct

[2018-10-08 14:48] maneesha commented on #258
Thanks all for the feedback above.  Since our communications staff is transitioning I'd like to hold off on doing anything with this until we have a new communications staff member in place.  Additional feedback in the meantime is welcome.

[2018-10-08 14:48] maneesha commented on #251
Saving this for our new communications staff member.  Any feedback in the meantime is welcome.

[2018-10-17 13:27] gitti1 opened #284 "Etherpad - permanent? (likely not)"
Hi all,

a small thing, it may be good to add a warning at the point of creation that the Etherpad will not be permanently hosted.

All the best,
Birgit

[2018-10-17 19:20] tracykteal opened #285 "Future section: guidelines on working with carpentries data"
This is an issue for adding in the future, as we further develop guidelines, a section of the handbook on working with carpentries data.

[2018-10-19 17:35] karenword opened #288 "need to update all references to demos pad"
The pad for teaching demonstration signups has a new address. I have changed one reference to this page, but any other references will also need to be changed. The new address is:
https://pad.carpentries.org/teaching-demos-recovered

[2018-10-23 04:09] maneesha commented on #283
Hey @mkcor - What do you think of this?  https://github.com/carpentries/handbook/pull/292

[2018-10-23 04:15] maneesha commented on #284
@gitti1   Etherpads are sort of permanent... Ideally they stay up as long as The Carpentries maintains the server. Things do sometimes break though, but that's the exception, not the rule.

Do you have suggestions -- or was there a time that the etherpad's longevity didn't meet expectations?

[2018-11-01 15:34] ChristinaLK opened #295 "recommendations for Library Carpentry demos"
We should add recommendations for which LC lessons are "stable" and eligible for training checkout demos, along with suggested starting points.

Add to: instructor_training/trainers_guide#running-a-teaching-demonstration

[2018-11-02 14:14] fmichonneau commented on #285
along these lines, I think we should identify the stakeholders:

- public
- instructors
- workshop hosts
- carpentry staff
- ...

and articulate who has access to what.

[2018-11-05 14:45] maneesha commented on #283
Hi @mkcor   I hadn't heard back from you so I merged this PR.  Let me know if you have other suggestions, otherwise I'll close this.

[2018-11-05 14:51] mkcor commented on #283
Hi @maneesha ! Sorry for the radio silence; I just took a look and I love this addition. Thank you so much!  Feel free to close this issue.

[2018-11-07 01:34] jduckles opened #297 "Rename Mentoring section to Instructor Development"
Since they've renamed, should we rename the "Mentoring" section in the handbook to be consistent?

[2018-11-07 01:44] maneesha commented on #297
@jduckles Yes, there's a bit of restructuring that I'm working on for the Mentoring section of the handbook.  Updates coming soon.

[2018-11-07 20:40] ErinBecker opened #298 "email templates in wrong section"
Some of the email templates for following up with trainees at various points in the checkout process are currently listed in the "For Trainers" section of the "Instructor Training" section of the handbook. These should be listed instead in the "For Admins" section. These include:

- Completed everything except lesson contribution
- Completed lesson contribution

[2018-11-13 10:08] rgaiacs commented on #258
It looks great!

Why do not use in the English lessons? I believe is better to enforce it across lessons so that all lessons use "capital letters and capitalisation" in the same way instead of have two or more styles in the same episode.

I think the version is short enough to be included in the handbook.

[2018-11-15 15:31] maneesha commented on #295
Fixed with
https://github.com/carpentries/handbook/pull/294

[2018-11-15 15:31] #295 closed

[2018-11-15 15:32] maneesha commented on #284
@gitti1  Checking in again - let me know if you have suggestions based on your experience using etherpads.

[2018-11-29 20:51] maneesha commented on #297
Fixed with a bunch of commits on 2018-11-29

[2018-11-29 20:51] #297 closed

[2018-11-30 00:38] maneesha commented on #298
fixed with e4a147d6486d

[2018-11-30 00:38] #298 closed

[2018-11-30 00:38] maneesha commented on #284
Closing this.  @gitti1   Feel free to re-open if you have additional questions or comments.

[2018-11-30 00:43] maneesha commented on #288
fixed with d45b420

[2018-11-30 00:43] #288 closed

[2018-11-30 00:43] #283 closed

[2018-11-30 15:19] fmichonneau commented on #190
removing my assignment as I'll leave it to @tobyhodges and @orchid00 to decide with @maneesha whether/how to include this etherpad into the handbook.

[2018-11-30 18:30] fmichonneau commented on #80
closing in favor of #129

[2018-11-30 18:30] #80 closed

[2018-11-30 18:31] fmichonneau commented on #129
I think the format of the bug BBQ might chance in the next iteration so leave it as is for now, and we'll revisit as we plan the next one.

[2018-11-30 19:17] #200 closed

[2018-11-30 19:18] maneesha commented on #32
No longer relevant with https://github.com/carpentries/handbook/pull/308

[2018-11-30 19:18] #32 closed

[2018-11-30 19:19] maneesha commented on #30
LIcense was added here: https://docs.carpentries.org/LICENSE.html

[2018-11-30 19:19] #30 closed

[2018-12-04 01:01] maneesha opened #311 "New changes not building"
1e99ff7 and 9a1ee28  are not building on the [preview site](http://docs.carpentries.org.s3-website-us-east-1.amazonaws.com/topic_folders/workshop_administration/survey_monkey.html) or the [live site](https://docs.carpentries.org/).

Maybe @fmichonneau  or @jduckles can help?

[2018-12-05 13:38] maneesha commented on #311
No new changes are building to the preview site or the live site.

[2018-12-05 20:38] jduckles commented on #311
Fixed, seemed to be someone logged in and manually built as `root` user causing a permissions problem on the `_build` directory. In the future, if manually building, please build as `data` user.

[2018-12-11 19:10] maneesha opened #316 "Update email requesting logistics from host"
Now that we have a more comprehensive workshop request form, we should ask that hosts just use this form, rather than having to send another email to get all this logistical information.

So this email template  (https://github.com/carpentries/handbook/blob/master/topic_folders/workshop_administration/email_templates.md#logistics-information-from-host)
can be updated to say something like "Thanks

[2018-12-11 19:14] sheraaron commented on #316
@maneesha yes. That is what I am doing now.

[2018-12-11 19:20] maneesha opened #317 "How to submit LC blog post"
@libcce
We have instructions here (https://github.com/carpentries/handbook/blob/master/topic_folders/communications/submit_blog_post.md) on how to format blog posts to be submitted to the DC or SWC websites or the Carpentries site.  I believe we have different sets of instructions because the two websites build differently.

I don't know how the LC site works.  It would be great if you could put i

[2018-12-11 19:23] maneesha opened #318 "Include LC in mentoring groups?"
@kariljordan
This page (https://github.com/carpentries/handbook/blob/master/topic_folders/instructor_development/mentoring_groups.md#requirements) notes that people must be "either a newly certified Software or Data Carpentry instructor or be in the process of completing certification. Generally Mentees will have taught one or no workshops, but may have been helpers before."

Do you want to includ

[2018-12-11 19:30] maneesha commented on #318
We can have it say "...either a newly certified Carpentries instructor or be in the process of completing certification. Generally Mentees will have taught one or no workshops, but may have been helpers before."

The goal has been to limit how much we refer to specific Carpentries lesson programs (unless it's necessary).  I don't think we need explicit feedback from @libcce  -- I just wanted to ch

[2018-12-11 19:38] kariljordan commented on #318
Oh! I totally missed that. I missed that it said DC and SWC and I was focused on the other language. Yes! I love that recommendation. I'll submit a PR.

[2018-12-11 19:39] libcce commented on #318
+1 to what @maneesha just wrote https://github.com/carpentries/handbook/issues/318#issuecomment-446331132 This is just one of the many changes that we need to make to the language from referring to individual Lesson Programs to mentioning The Carpentries.

[2018-12-11 20:14] libcce commented on #317
Thanks @maneesha for catching this. FYI, LC uses The Carpentries website template. I've submitted a PR https://github.com/carpentries/handbook/pull/320 to add the LC blog post information.

[2018-12-11 20:17] maneesha commented on #317
PR #320 has been merged

[2018-12-11 20:17] #317 closed

[2018-12-11 20:18] maneesha commented on #318
Fixed with #319

[2018-12-11 20:18] #318 closed

[2018-12-17 16:01] maneesha commented on #284
Over email @gitti1  asked:

@jduckles @fmichonneau  You both know more about how etherpads are managed.  Would you be able to answer this question?

[2018-12-18 21:04] jduckles commented on #284
For now we keep all pads in perpetuity. This could change in the future, but if it does, we'll amend the notice on all pads newly created to set this expectation. Our default guidance is to treat pads as ephemeral and not to be trusted as an archival place for data or information. Pads can be easily exported with `/export/txt` or `export/html` appended to the end of the pad name (i.e. https://pad.

[2018-12-19 08:35] dvanic opened #337 "Project Organization and Management for Genomics for teaching demos?"
I've had a trainee suggest "Project Organization and Management for Genomics" as a lesson for the teaching checkout - but I just had a look through the content, and there is no live coding in this lesson!

Should it be removed from possible use from teaching demos completely???

[Link TBA](https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#starting-points-for-demos)

[2018-12-19 17:02] maneesha commented on #337
Thanks for raising this question @dvanic
I think @ErinBecker  knows this lesson best so she may be able to respond here.

[2019-01-04 15:12] pitviper6 opened #343 "broken link to AMY login"

[2019-01-04 15:14] pitviper6 commented on #343
The link to the AMY login page is broken in the AMY manual:
Logging in
Log in to AMY here. Contact Carpentries staff if you need login credentials.

Broken link:
https://amy.software-carpentry.org/workshops/admin-dashboard/

[2019-01-04 15:20] maneesha commented on #343
This is being fixed.  Closing as it's a duplicate of https://github.com/swcarpentry/amy/issues/1423

[2019-01-04 15:20] #343 closed

[2019-01-04 15:21] pitviper6 commented on #343
Oh geez, I'm sorry! I even went through the issues to make sure I wasn't duplicating anything and missed that.

[2019-01-08 13:49] maneesha opened #346 "Move Zoom guide to communications section"
The [Zoom guide](https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#zoom-manual-online-trainings) is in the Instructor training section.  However since Zoom is used for more than just instructor trainings this should be a part of the Communications section.

[2019-01-08 19:00] maneesha commented on #337
pinging @ErinBecker

[2019-01-08 19:02] maneesha commented on #316
Hi @sheraaron   This may have fallen through the cracks, so I updated it here. Feel free to re-open this if you want to make any other changes.

https://docs.carpentries.org/topic_folders/workshop_administration/email_templates.html?highlight=logistics#logistics-information-from-host

[2019-01-08 19:02] #316 closed

[2019-01-08 19:03] maneesha commented on #284
Thanks @jduckles
Closing this again.  @gitti1 Please feel free to re-open if you still have questions about this.

[2019-01-08 19:03] #284 closed

[2019-01-08 19:04] maneesha commented on #230
Programmatic assessment section now includes link to website (which has links to all the reports).

[2019-01-08 19:04] #230 closed

[2019-01-08 19:05] maneesha commented on #181
I can add this link in, but first want to make sure from @karenword  that the other information on that page is still accurate and up to date.

[2019-01-08 19:43] karenword commented on #181
Yes! It is always a work-in-progress, but fine to publicize :)

[2019-01-09 11:49] maneesha opened #347 "Update AMY manual to reflect changes"
AMY manual needs to be updated to reflect [recent changes](https://github.com/swcarpentry/amy/blob/develop/docs/releases/v2.4.0.md).

[2019-01-09 23:58] ErinBecker commented on #337
Thanks for the question @dvanic and sorry for the delayed response. The Genomics lessons have been very challenging to use for teaching demos for a couple of reasons.
- The Project Organization lesson as you mentioned doesn't have any live coding.
- The Shell lesson relies on a large (50 Gb) dataset.
- The Wrangling lesson requires both the large dataset, and a rather complicated set of software i

[2019-01-10 00:01] ErinBecker commented on #337
After a quick look at the [teaching demos Etherpad](https://pad.carpentries.org/teaching-demos-recovered), I see at least 4 people signed up to use the Genomics lessons. The next is on the 22nd. I'll bump this up my priority list. Suggestions welcome!

[2019-01-10 18:05] maneesha opened #349 "include section on generating certificates"
Need to have instructions on how certificates are generated.

[2019-01-10 18:05] maneesha commented on #349
From @fmichonneau (when trying to create one custom certificate)

[2019-01-10 18:52] maneesha commented on #349
See also

https://github.com/carpentries/systems/blob/master/bin/makebadges.sh

[2019-01-10 18:53] maneesha commented on #349
Also
https://github.com/swcarpentry/certification

[2019-01-15 20:22] maneesha commented on #346
Fixed with today's commits:
https://github.com/carpentries/handbook/commits/master

[2019-01-15 20:22] #346 closed

[2019-01-16 15:24] maneesha commented on #311
[Commits made yesterday](https://github.com/carpentries/handbook/commits/master) are not appearing on the live site [live site](https://docs.carpentries.org/).
They do appear on the  [preview site](http://docs.carpentries.org.s3-website-us-east-1.amazonaws.com/).

[2019-01-16 15:50] fmichonneau commented on #311
They are showing up for me on the live site. If the changes appear on the preview site, they will eventually make it to the live site. We can force the cache update but it costs money and we should do it only when the updates are time sensitive.

[2019-01-16 15:50] #311 closed

[2019-01-16 22:52] maneesha opened #355 "include section on dealing with unexpected or emergency situations"
We should have an easy to follow guide on suggested things to do when unexpected or emergency situations come up.

Example situations:

* Co-instructor can't come due to illness, flight delay, etc.
* Group can't get on wi-fi

Other examples?  @sheraaron

[2019-01-17 21:45] jrteuton opened #356 "New Instructor instructions added to "tickets" e-mail"
I would suggest in the future the "ticket" email have a set of links/clear instructions on it for steps that need to be taken before a workshop.

For example to confirm a correct link/sign in for online courses or directions to a physical location and any steps to gain access, if a facility requires sign in or other access control be completed.

I would also suggest a list/links to "homework" Setu

[2019-01-17 23:39] maneesha commented on #356
Thanks for sharing your suggestion, @jrteuton .  Can you tell us specifically which email you are referring to?  Linking to it in the handbook would be ideal.

[2019-01-18 00:37] jrteuton commented on #356
the "ticket" e-mail you get after registering for a class, in this case it was the instructors online course.  
    On Thursday, January 17, 2019, 3:39:13 PM PST, maneesha sane <notifications@github.com> wrote:

Thanks for sharing your suggestion, @jrteuton . Can you tell us specifically which email you are referring to? Linking to it in the handbook would be ideal.

—
You are receiving this becau

[2019-01-18 21:25] maneesha opened #357 "AMY manual needs section on how to search for instructors"
title says it all

[2019-01-23 03:24] maneesha opened #358 "Move Zoom troubleshooting for Linux to Zoom section in communications"
This text:

is here:
https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#during-the-demo-troubleshooting

but should be here:
https://docs.carpentries.org/topic_folders/communications/zoom_rooms.html#zoom-manual

[2019-01-24 17:12] kcranston opened #359 "clarify workshop fees for self-organized workshops"
In the [workshop checklists](https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html) we mention workshop fees multiple time (specifically [here in the checklist](https://github.com/carpentries/handbook/blob/afa14a4e8297bb30786fa6901af86f15c5eea852/topic_folders/hosts_instructors/hosts_instructors_checklist.md#L17) and in the [billing guidelines](https://githu

[2019-01-24 22:32] maneesha commented on #359
Thanks for this @kcranston
We'll look across our various forms, checklists, etc. to be sure our messaging is consistent.

[2019-01-25 15:45] maneesha opened #360 "document how to recover broken etherpad links"
Appending `/export/html` often will recover a broken etherpad's contents.

[2019-01-25 17:26] maneesha opened #361 "trainers guide documentation is duplicated"
This documentation appears here https://carpentries.github.io/instructor-training/guide/index.html
  and  here https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#trainer-checklists.

Needs to be consolidated.

[2019-01-25 17:26] amyehodge opened #362 "Add link to Google template for instructor training"
Add the link to the Google template (https://docs.google.com/document/d/1P_w1rgdVk4SpXvILSS-ZKz8Ujqklfujpc_zHf8D-G1A/edit?usp=sharing) to the handbook on page https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#trainer-checklists

[2019-02-08 14:03] serahrono opened #365 "Broken Links"
External links to markdown files are not handled properly in our handbook. A few examples:

- [Submitting a blog post](https://docs.carpentries.org/topic_folders/communications/submit_blog_post.html) page:
  - [broken link 1](https://github.com/carpentries/handbook/blame/master/topic_folders/communications/submit_blog_post.md#L22)
  - [broken link 2](https://github.com/carpentries/handbook/blame/m

[2019-02-08 17:48] #365 closed

[2019-02-08 17:50] maneesha commented on #362
Do we  need to edit this before incorporating it in the handbook?  The top says

Pinging @karenword @ChristinaLK

[2019-02-08 17:53] maneesha commented on #356
Hi @jrteuton  -- Thanks for your follow up.  Is this the email that was sent directly from Eventbrite or that a Carpentries staff member sent you?

[2019-02-08 17:57] karenword commented on #362
This statement is true -- Trainers want to have this document (and be able to find it) but we haven't committed to keeping it updated as part of the Maintainer role. It is up to those who use the document to be sure it is updated.

It should still probably be linked from the handbook, with that disclaimer intact. Is that ok?

[2019-02-08 19:21] #362 closed

[2019-02-08 19:21] maneesha commented on #362
Done.

[2019-02-09 21:53] jrteuton commented on #356
I believe it was everbrite ... I don't think I received an email from the staff before the event ... I'm pretty sure the survey I filled out where I generating a unique identifier based on my birth city excetera, didn't complete properly. I did it with a cell phone limited signal the weekend before. Don't remember getting the confirmation screen. 
Jeremy 

Sent from Yahoo Mail on Android

  On Fri

[2019-02-11 16:40] maneesha commented on #360
Fixed with 5f6e8dd61c387600b237e462d1677898cc12933a

[2019-02-11 16:40] #360 closed

[2019-02-11 18:22] maneesha commented on #361
@karenword  and @ChristinaLK   Since you two maintain the content on the instructor training site, do you have a preference as to whether this should be in the IT curriculum materials or in the handbook?

[2019-02-11 18:26] #359 closed

[2019-02-11 19:54] karenword commented on #361
Once the handbook copied everything that was in the Instructor Notes, we modified the Instructor notes to be more customized to the process of actually teaching the curriculum. In this process we deleted much of the material that was duplicated in the handbook, but chose to leave some of that material with the idea that Trainers might reasonably look there to find this information.

Maintenance is

[2019-02-12 19:54] maneesha commented on #361
I agree we should not have duplicated information because it is difficult to keep up with maintaining and updating it.  Right now what's in the handbook and what's in the IT materials is *mostly* the same.  I say mostly because they are maintained separately.  I would highly recommend removing it from either the handbook or the IT materials, and linking to the other source.

I have no strong prefe

[2019-02-12 19:58] maneesha commented on #358
Fixed with a0118b2058742052d198f9b1c1ac42d42f0d03b3 and 624e4579ef5182423e2b76f0970ce61d76ad21ec

[2019-02-12 19:58] #358 closed

[2019-02-12 19:59] maneesha commented on #258
Should we be revisiting this issue?  @tracykteal @ErinBecker @serahrono

[2019-02-12 19:59] maneesha commented on #251
Should we be revisiting this? @tracykteal  @ErinBecker @serahrono

[2019-02-12 20:02] maneesha commented on #173
Newsletter links fixed with 7634996985a2c1740e662ae3c50ed6344efda3aa and c77735b50a06c72f35a5090d8d7ce763fa88c6b7

[2019-02-12 20:05] maneesha commented on #173
How to view available slack channels fixed with 1cf6a67d2dac06a14f77425bee44f070ba4bb717

[2019-02-12 20:06] maneesha commented on #173
learner assessment links to the datacarpentry website - fixed with d052fb6ac82e44d928de04550ef7f419b332c7a4

[2019-02-12 20:09] maneesha commented on #173
* [learner assessment page](https://docs.carpentries.org/topic_folders/assessment/assessment.html) should include a link to the relevant part of the assessment repo

fixed with eccc6f2d9fd1e7ee3f0342880efd9a88abcf0e69

[2019-02-12 20:17] maneesha commented on #173
Looking at existing blog posts across all four sites it looks like they all use the format  `["Name1", "Name2"]`.  Updated documentation to show multiple authors in all samples.

[2019-02-12 20:23] maneesha commented on #181
This was done - See https://docs.carpentries.org/topic_folders/instructor_training/trainers_training.html#trainers-training-reading-schedule

[2019-02-12 20:23] #181 closed

[2019-02-12 20:27] maneesha commented on #46
Fixed with 9585fd932f2ed8f03a9c89f40e2f1963df3eacd7

[2019-02-12 20:27] #46 closed

[2019-02-12 20:29] maneesha commented on #33
Closing this as we never incorporated the staff resources section. May revisit this at some point with @Talishask  and @elizabethwilliams8

[2019-02-12 20:29] #33 closed

[2019-02-12 21:06] maneesha commented on #173
fixed with ea14ad40744a15036960e98587e886db10fb14fa

[2019-02-12 21:07] maneesha commented on #173
Programmatic assessment section links directly to assessment page on Carpentries website.  I'd rather not duplicate links that are there - as we grow this will be difficult to maintain.

[2019-02-12 21:09] maneesha commented on #173
@ErinBecker   This just leaves the sections on lesson development that need to be updated in the handbook.

For the CaC - I can link to the page on DC's website.  Can you confirm first that this is accurate and up to date?  Also do we have corresponding pages for SWC and LC?

For the Bug BBQ - do you have updates to the sections that say "coming soon"?

[2019-02-12 21:11] maneesha commented on #71
@serahrono   This is something that we started working on as a way to encourage blog posts from our community.   Do you think we should pick this up again or can we close it for now?

[2019-02-12 21:18] maneesha commented on #112
Closing - we no longer publish bios on our website.

[2019-02-12 21:18] #112 closed

[2019-02-13 01:34] tracykteal commented on #251
Yes, good idea to put all the logos in one place, or at least one landing page linking to all the logos. Should have the ones we use on websites and the ones for stickers, like the hex stickers.

Data Carpentry are here https://github.com/datacarpentry/logos
Software Carpentry are here https://github.com/swcarpentry/communications/tree/master/misc/logo

I'm not sure if Library Carpentry logos are

[2019-02-13 01:36] tracykteal commented on #258
I don't think we have that shortened version yet, and it's not a current project to create that. So, probably something to revisit in a bit. Good to re-up so it's on the community team's radar.

[2019-02-13 08:24] serahrono commented on #71
hey @maneesha, thanks for bringing this to my attention. Leave it open for now, we'll discuss it with the team and share an update here soon.

[2019-02-13 10:48] libcce commented on #251
Here is the LC style guide where you can find the logos (the red hex logo) https://github.com/LibraryCarpentry/lc-styleguide

[2019-02-13 12:02] libcce commented on #173
For the LC CAC, see https://librarycarpentry.org/cac/

[2019-02-13 13:39] fmichonneau commented on #251
:+1: on consolidating all our logo and branding guidelines in a single repo (and also use consistent file names :smile:). The Carpentries hex stickers are in the carpentries/logo repo.

[2019-02-13 17:58] k8hertweck opened #366 "Tracking Trainee Checkout section Tracking Lesson Contribution"
This section has language duplicated from Tracking Discussion Attendance. I'm fairly certain this is a quick fix and can submit a PR but want to make sure it isn't a substantially different workflow from the other sections?

[2019-02-14 16:31] maneesha commented on #366
Hi @k8hertweck  Can you link to the specific sections you see duplicated?

[2019-02-14 22:57] kariljordan commented on #218
I made a note to come back to this issue on March 1st after the revised CoC documentation is up.

[2019-02-18 15:49] maneesha opened #367 "AMY guide should include django admin functions"
There are many things an AMY superuser can do via the Django admin panel.  These need to be documented in the AMY section of the handbook.

[2019-02-18 23:38] maneesha opened #368 "Workshop Administrator and Business Administrator - update language?"
There are lots of places in the handbook where we refer to the Business Administrator and to the Workshop Administrator.  Since we no longer have staff with those titles should we change all references to "Administrative Support Specialist" --- or do you think we need to go through each thing one by one to see what we should change it to?

Seeking input from @sheraaron  @elizabethwilliams8 @Talish

[2019-02-19 15:49] fmichonneau opened #369 "Broken links to fix"
Reviewing the build logs revealed that there are several broken references:

[code]

these should be fixed by using the file names/paths as they are in the source `topic_folders`  and not what they are when rendered (i.e., using the `.md` extension instead of the `.html`).

[2019-02-20 09:47] gcapes commented on #369
Introductions link is also broken on this page:
https://docs.carpentries.org/topic_folders/hosts_instructors/instructor_tips.html

[2019-02-20 15:32] ErinBecker commented on #337
Thanks to @taylorreiter we now have a possible solution for this issue. Taylor pointed out that the dataset for the [Introduction to Command Line for Genomics](https://datacarpentry.org/shell-genomics/) lesson is only in the Mb range. Trainees can download that data from Figshare (I'm working on getting the updated version to our Figshare account now and will update the links in the lesson) and us

[2019-02-21 12:17] maneesha commented on #368
I saw @elizabethwilliams8  put in a bunch of commits.  Can this be closed now?

[2019-02-21 12:19] maneesha commented on #173
Thanks @libcce  for the LC link.

Pinging @ErinBecker  - see questions above.

[2019-02-21 15:27] maneesha commented on #366
Pinging @k8hertweck

[2019-02-21 17:26] ErinBecker commented on #173
Data Carpentries page is up to date.
No corresponding page for SWC.
@libcce will know about LC CAC.

No updates to Bug BBQ sections. Working on writing this up for the Curriculum Development Handbook, so will have that documentation when that goes live at the end of Q1.

[2019-02-21 20:34] elizabethwilliams8 commented on #368
@maneesha Talisha and I have changed all of the Business Admin mentions appropriately for her new role, but all of the workshop administrator mentions will depend on the new workflow for that.

[2019-02-22 14:15] maneesha opened #372 ".md extensions are getting stripped and links are breaking"
See for example
https://github.com/carpentries/handbook/issues/365

[2019-02-22 14:16] maneesha commented on #372
Also as reported by @karenword

[2019-02-22 17:31] maneesha opened #373 "Include section on unofficial workshops"
People often ask if they should be reporting unofficial workshops.
@sheraaron  has suggested this section may be a good place to put this information:
https://docs.carpentries.org/topic_folders/hosts_instructors/instructor_tips.html

[2019-02-22 17:32] maneesha commented on #373
See a response @maneesha  gave on slack for sample text:

Short answer is no, we are not currently collecting information on when you run unofficial Carpentries workshops.

Long answer is when you run unofficial Carpentries workshops, we know it's because you as an instructor recognize the value of our curricula and have taken the initiative to adapt it to other contexts, where a two day workshop

[2019-02-23 01:05] Talishask commented on #368
@maneesha Done.
Let us know if you have any questions or need any additional changes.

[2019-02-24 00:24] karinlag opened #382 "Move CoC Language to Handbook"
- [ ] For any in-person event, please make sure that an emergency contact number and/or details of at least one designated incidence response person is available so that appropriate help can be offered to the incident reporter immediately.

- [ ] Suggest that all events have a designated person to report to, who is named as such at the beginning of the event.

- [ ] Ask hosts/organizers to figure

[2019-02-25 19:56] maneesha commented on #368
Complete via many recent PRs

[2019-02-25 19:56] #368 closed

[2019-02-26 20:50] karinlag commented on #382
Just wanted to add here that this will probably fall under the Safety Staff/Duty officer things once we figure that part out.

[2019-02-26 23:53] raynamharris opened #386 "feature request: link The Carpentries homepage to the logo"
I'm wondering if it is possible to add a hyperlink to the logo in the top left-hand corner that links to The Carpentries home page? As far as I can tell, there aren't any links to the main website, and I find that I always want one. The logo seems like a good thing to hyperlink, but I'm open to other suggestions.

[2019-03-01 16:55] kariljordan commented on #218
I think the "how to" should remain in the instructor training material. The Code of Conduct is under the **Policies** section in the handbook, so we want to keep the language focused on the policy. I am open to a debate though!

This came up on a Slack thread, and @elliewix  mentioned in the CoC repo that it's a good idea that could apply to most groups, but not all. Let's make this a separate iss

[2019-03-04 16:17] kariljordan opened #396 "Update getting news out section"
For the [getting news out](https://github.com/carpentries/handbook/blob/master/topic_folders/communications/submit-news-item.md) section of the handbook, do we want to send newsletter content to newsletter@carpentries.org instead of team@?

[2019-03-05 19:17] maneesha opened #400 "Put CoC information in its own section (not buried in "Policies")"
We currently have all the  Code of Conduct information buried in the "Policies" section.  I'd like to try moving this to its own section and have it at the very top of the left side menu to make it easier to find.

(@kariljordan   This issue is for a reminder to myself to try some things out.  Nothing is changing now so there's nothing you need to do now.  I will share some ideas when I have time

[2019-03-05 21:27] kariljordan commented on #400
@maneesha thank you! I love the idea btw.

[2019-03-06 16:18] maneesha commented on #396
Whether it goes to team@ or newsletter@carpentries.org, it ultimately reaches us at the same place (via Helpscout).  I'd rather keep one line of communication here, rather than make people feel they have to email different addresses if they want to share the same content.  @kariljordan  If you feel strongly we should have the email addresses differentiated I'd be happy to re-open this issue and di

[2019-03-06 16:18] #396 closed

[2019-03-06 16:18] maneesha commented on #382
@kariljordan   Was this resolved with the recent CoC updates, or do you want to keep this open?

[2019-03-06 16:20] maneesha commented on #366
Closing this now.  @k8hertweck  please feel free to re-open if there is something that should be fixed.

[2019-03-06 16:20] #366 closed

[2019-03-07 23:20] kariljordan commented on #382
This should remain open. @karinlag is recommending that this information be added to workshop operations.

[2019-03-08 19:57] maneesha commented on #386
@raynamharris  This is a good suggestion.  At some point I'll poke around and see what the best way to do this would be.

[2019-03-08 20:06] maneesha commented on #373
Fixed with 9b562a3507ba9da01caa848b4001db7d0f704b77

[2019-03-08 20:06] #373 closed

[2019-03-08 20:07] maneesha commented on #357
Fixed with 723d40067eeff092ae

[2019-03-08 20:07] #357 closed

[2019-03-08 20:08] maneesha commented on #347
Fixed with tons of commits on 2019-03-08

[2019-03-08 20:08] #347 closed

[2019-03-08 20:09] maneesha commented on #218
@kariljordan  Is this ok to close now?

[2019-03-09 02:47] kariljordan commented on #218
I'm fine to close this, but @ChristinaLK opened the issue, so let's make sure she's happy with my response.

[2019-03-12 17:43] ChristinaLK commented on #218
Yes, looks good to me!  Thanks @kariljordan !

[2019-03-12 17:43] #218 closed

[2019-03-26 14:11] maneesha commented on #190
Closing this per https://github.com/carpentries/curriculum-development/issues/18

[2019-03-26 14:11] #190 closed

[2019-03-27 08:28] fmichonneau opened #410 "Add info on how to create links on the websites"
As I'm working on link validation, I've used our websites as tests and found that a variety of methods have been used to create links. It might be a good idea to add a section on how to create [links with Jekyll](https://jekyllrb.com/docs/liquid/tags/#links):

- using `{% link %}` for pages
- using `{% post %}` for blog posts
- do not use relative paths
- do not include `https://carpentries.org/`

[2019-03-28 00:24] sstevens2 opened #412 "SocialSci Spreadsheets lesson for teaching demos"
Hi!  I hosted a teaching demo today and while the handbook says you can start from any episode, I did not find that to be the case.  I had them start from the 2nd episode and it doesn't have any live coding (at least in the first 5 min) and that was a bit tough for the trainee.  They still did a great job though.

https://datacarpentry.org/spreadsheets-socialsci/

They did say that the only episod

[2019-03-29 18:40] karenword commented on #258
I've gotten a request to have the style guide available in the handbook. Bumping this issue in case it's ready to move! :)

[2019-04-02 18:32] maneesha commented on #412
Thanks for bringing this up @sstevens2
We can adjust the table when issue #411 is resolved.

[2019-04-02 18:33] maneesha commented on #372
Still need to figure out how/why this is happening.  From @fmichonneau  a few weeks ago:

[2019-04-03 12:15] maneesha commented on #258
Tagging @serahrono  for consideration.

[2019-04-03 14:19] serahrono commented on #258
Thanks @maneesha and hi @karenword,

We haven't had time to update the Style Guide in Q1, but I've given it some thought and I think we should add the first version that @weaverbel put together to our handbook, and any updates we make to it over time can be added to the handbook as revisions. What do you think? cc @tracykteal @ErinBecker @kariljordan ?

[2019-04-03 14:40] kariljordan commented on #258
I'm on board with this. @weaverbel did a phenomenal job on the style guide, and updating/revising it is not within our current project scope. Let's have @serahrono add the current version to the handbook as version one and give @weaverbel the credit she deserves (hi Belinda!), and in the future we can revisit making revisions.

[2019-04-04 10:29] tracykteal commented on #258
+1 to including what @weaverbel put together. One thing people want to know is how to use 'The Carpentries' versus 'Carpentries'. Maybe we could put that at the top of the document as well as in the 'C' section, to make it slightly more available.

[2019-04-10 10:40] maneesha commented on #258
Fixed with f66dc2011f12de6eed74ac224642c449fb1bd2ab

[2019-04-10 10:40] #258 closed

[2019-04-10 10:42] maneesha commented on #412
Thanks @sstevens2
I just assigned this to myself but then saw you had also offered to put in a PR.  I'd welcome this if you are still interested in doing it.

[2019-04-10 10:44] maneesha commented on #337
@ErinBecker  Checking in on the progress of this.

[2019-04-10 17:47] ErinBecker commented on #337
Thanks for checking @maneesha. Resolving this issue is part of the larger conversation that we've been having about the Genomics Curriculum Relaunch project. As part of that project, I've put together a set of [detailed instructions](https://docs.google.com/document/d/1bj5N022o4sTR8kBIiG0aVCHZzyJLkzR3q9Jraw75i2s/edit) for trainees and Trainers about appropriate starting points in the Genomics less

[2019-04-10 20:55] maneesha commented on #412
Fixed with #420

[2019-04-10 20:55] #412 closed

[2019-04-11 17:37] maneesha commented on #386
I haven't found a way to hyperlink the logo but I have added general introductory information to the front page with 844e773578b38e961f043c78cd6c019624df1fb8

[2019-04-11 17:37] #386 closed

[2019-04-11 17:39] maneesha commented on #356
Closing this here - moving this to our internal workflows around managing instructor training events.

[2019-04-11 17:39] #356 closed

[2019-04-11 17:41] maneesha commented on #8
Things have changed a lot since I put in this issue.  I think this was from when we were running mixed member/open events.  Since that is now the norm, I'm closing this issue.

[2019-04-11 17:41] #8 closed

[2019-04-11 17:42] maneesha commented on #251
Per @elizabethwilliams8   licensing for all logos is not yet confirmed/approved, so this issue is being tabled.

[2019-04-11 17:47] maneesha commented on #173
Curriculum advisors updated with 10ffe6546f3ab19929e7f43172150ae5432d5b74

[2019-04-11 17:49] maneesha commented on #173
@ErinBecker  Do you have updates to the Bug BBQ section?  This part of the [CDH](https://carpentries.github.io/curriculum-development/the-lesson-life-cycle.html) appears to be under development.

[2019-04-11 18:31] fmichonneau opened #421 "the copyright year in the footer needs to be updated"
it should now be 2018-2019

[2019-04-11 19:49] maneesha commented on #421
fixed with dc416d09e718437d1c6b2c8796d4698413eaaaf4

[2019-04-11 19:49] #421 closed

[2019-04-11 19:57] maneesha commented on #367
Started with this: 8e7d81682271bfe6d1ec506afce4110d4dd17cd3
May consider detailed information at another point.

[2019-04-11 20:00] maneesha commented on #173
Closing this as we have another issue for the Bug BBQ (#129)

[2019-04-11 20:00] #173 closed

[2019-04-11 20:01] maneesha commented on #47
@ErinBecker  Can we close this now that the CDH is out?

[2019-04-11 20:02] maneesha commented on #61
Closing this as we have another issue about the logos and there is no other content here.

[2019-04-11 20:02] #61 closed

[2019-04-11 20:03] maneesha commented on #71
Thanks @serahrono
This is also connected to our conversations in Asana about the blogs.  Let me know if you think we should keep this open.

[2019-04-12 00:19] remram44 commented on #47
You should probably remove the information from lesson-example and update the numerous links from other lessons/handbooks. Those can probably be found automatically without too much work.

[2019-04-16 14:41] maneesha commented on #400
Fixed with 8ebd6016cf73de008b71d6698f66f533df1dcf13
7a0272d24e95211f6a9b5d4522709e6dae466c21
740f70efebf43ba7116cfd39d1bab22ef88193a8
3de4775f9ef87e2c9eba646edafc80c95764b08f

[2019-04-16 14:41] #400 closed

[2019-04-16 14:57] maneesha commented on #337
Closing this as we have an updated set of starting points for Trainers (https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html#starting-points-for-demos) and instructions for trainees (https://datacarpentry.org/genomics-workshop/teaching_demos/index.html, accessible at https://datacarpentry.org/genomics-workshop/ >> "Extras"

[2019-04-16 14:57] #337 closed

[2019-04-16 14:59] maneesha commented on #120
@ErinBecker  This is what we currently have in the handbook https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html#traducciones-translations

Do we have documentation anywhere else that should be incorporated into the handbook?

[2019-04-16 15:27] maneesha opened #422 "Update section on Spanish translations"
I'd like to update this section (https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html#traducciones-translations) to read:

The GitHub repos for translations in progress are maintained in the Carpentries-ES organization.

Several Data Carpentry and Software Carpentry lessons have complete Spanish language translations.  These are listed on the [Data Carp

[2019-04-17 16:58] LUS24 commented on #422
1:

The GitHub repos for translations in progress are maintained in the Carpentries-ES organization.

Los respositorios de GitHub para las traducciones en progreso son mantenidos por la organización Carpentries-ES.

2:

Several Data Carpentry and Software Carpentry lessons have complete Spanish language translations. These are listed on the [Data Carpentry](https://datacarpentry.org/lessons/) and

[2019-04-17 20:43] raynamharris commented on #422
Thanks @LUS24. This is great.

My only suggestion would be to make both of them a single paragraph, rather than two sentences separated by a blank line. So it would be:

The GitHub repos for translations in progress are maintained in the Carpentries-ES organization. Several Data Carpentry and Software Carpentry lessons have complete Spanish language translations. These are listed on the Data Carpe

[2019-04-17 20:49] LUS24 commented on #422
Looks good to me.

[2019-04-17 21:00] maneesha commented on #422
Fixed with 87942f1c9ff4d2a4b561a7ccda37cb4f89f9782d
Many thanks to @LUS24  and @raynamharris

Note that the way the handbook is built, it can take up to 24 hours to propagate the changes globally so you may not see this until tomorrow.

[2019-04-17 21:00] #422 closed

[2019-04-24 16:41] ErinBecker opened #429 ""Carpentry" to "The Carpentries""
I've been using a lot of the email templates lately and have found there are still several places where we say "Carpentry" instead of "The Carpentries". We should do a full search through this repo and make those changes.

[2019-04-24 22:14] ErinBecker opened #431 "Adding information about regional lists to congrats email"
This is a placeholder issue to make sure I don't forget about the conversation here: https://carpentries.topicbox.com/groups/trainers/T14115799512ec5dc/training-instructors-from-africa

Not sure yet of the best way to add this information to the email template - if there are a lot of regional / local communities, that could get overwhelming in an email. Maybe a pointer to the TopicBox list of grou

[2019-04-25 02:50] amyehodge commented on #431
We have a local email list at Stanford that is the best mechanism to reach everyone in our group. I'm not sure how this could work. For example, I did online training this week and there just happened to be one person from Stanford at the training. If I hadn't been one of the instructors, I would still love for her to have known about our local email list or for someone to have told me that she wa

[2019-04-25 10:15] anenadic commented on #431
Perhaps we can have a dedicated page per country - could for example reuse recently introduced regional pages such as https://carpentries.org/regions_uk/. Regional pages are maintained by the Carpentries but there is a section where we/local admins/coordinators could put extra info - such as information on local groups in the country and their mailing lists for people to join (including country-wi

[2019-04-26 14:35] maneesha commented on #429
fixed with 788b2617885e76747e74b4d8bc2050e2f95bec9d

[2019-04-26 14:35] #429 closed

[2019-04-29 09:18] rgaiacs opened #436 "Move lesson example's style guide to handbook"
http://carpentries.github.io/lesson-example/06-style-guide/index.html need to be moved to here.

[2019-04-29 10:49] maneesha commented on #436
Thanks @rgaiacs
As an end user, where in the Handbook would it make most sense for this to go for you?

[2019-04-29 12:52] rgaiacs commented on #436
https://docs.carpentries.org/topic_folders/communications/style-guide.html It should have a section about code.

[2019-04-30 07:23] lexnederbragt opened #438 "Add font(s) and colours to Style Guide"
What fonts does the Carpentries use in communications? What colour is the logo? Those kinds of things would be useful to have in the style guide too.

[2019-04-30 11:40] maneesha commented on #438
Thanks @lexnederbragt  for this suggestion.

Asking @jduckles  and @weaverbel - would you be able to help with this? I know you two led the project to develop the logo.

[2019-04-30 14:36] brownsarahm opened #440 "inconsistency in sections on names"
the `name` section says,

but the `first name, forename, given name` sections says those are fine and `foreign names` uses "forename".

[2019-04-30 15:52] amyehodge opened #441 "foreign words example not italicised"
In the following excerpt, "bête noire" should be italicized, I believe.

foreign words and phrases
Italicise these and provide accents where applicable, _e.g._, bête noire. In the case of frequently used foreign terms in accepted English usage, _e.g._, avant garde, vis a vis, vice versa, you do not need to italicise.

[2019-04-30 17:02] brownsarahm commented on #436
the intro to the Handbook Style Guide says that it doesn't necessarily apply to lessons though, should that also change if we pull the current lesson style guide into the Handbook Style Guide?

[2019-04-30 17:08] rgaiacs commented on #436
I read it as "this Style Guide doesn't apply to the lessons in Spanish" or "this Style Guide doesn't apply to the lesson that we are prototyping and is being lead by instructors only from country C". I think that for the the main lessons we should use the Style Guide.

[2019-04-30 19:01] brownsarahm commented on #436
it says, in the second paragraph(emphasis mine):

I agree that for the main lessons we *should* use the Style Guide, but if we are going to, we should remove that phrase from the style guide.

[2019-04-30 22:05] jduckles commented on #438
Logo as it came is Red:3	Green:21	Blue:86, since its SVG, this can always be changed as it is a simple one-colour logo design.

Website font choices are listed here (highlighted rows): https://github.com/carpentries/carpentries.org/blob/7fe69011b98dac28ad88acb1818dfb676bbd84ce/_sass/_02_settings_typography.scss#L25-L27

As far as the logo, fonts were never stated by designer, but forensics by othe

[2019-05-01 01:31] weaverbel commented on #438
Sorry, I don't know what the font was. Only the logo designer would know. @jduckles was the person who dealt with that person. I just gave it a tick ;-).

[2019-05-01 08:51] anenadic commented on #438
With regards to the logo, we could also create 4 "official" versions of logo ourselves, and ask people to use those, e.g.:
![image](https://user-images.githubusercontent.com/631719/57010745-3b263f80-6bf6-11e9-82ec-65077212dc68.png)
![image](https://user-images.githubusercontent.com/631719/57010757-49745b80-6bf6-11e9-8261-81008139dda6.png)
and the same ones in white for use on the dark backgrounds.

[2019-05-01 10:59] jduckles commented on #438
@anenadic see https://github.com/carpentries/logo

[2019-05-01 11:20] anenadic commented on #438
Yes, those precisely (knew there was a link somewhere), thank you @jduckles. But in addition, in the style guide we should point to those and explicitly say what can and cannot be done to the logo.

[2019-05-01 12:13] maneesha commented on #438
Agreeed @anenadic
Here's something from the Python Software Foundation we could use as an example:  https://www.python.org/community/logos/

[2019-05-01 12:29] libcce commented on #438
Here is the LC style guide by Drew Heles and David Kane if you need another example: https://github.com/LibraryCarpentry/lc-styleguide.

[2019-05-02 10:23] anenadic commented on #438
Software Sustainability Institute I work for also have a media guide: https://software.ac.uk/about/media-enquiries

[2019-05-06 08:57] katrinleinweber commented on #372
This [SO post seems similar to our issue & contains an upvoted solution](https://stackoverflow.com/questions/52429549/sphinx-documentation-and-links-to-markdown).

[2019-05-06 10:47] maneesha commented on #372
Thanks @katrinleinweber
I'll look into this more.

[2019-05-06 12:04] maneesha commented on #431
We could make a page that links to the [regional coordinators](https://carpentries.org/regionalcoordinators/) page on our website and also includes links to the existing email groups.  [All the ones that start with local- here](https://carpentries.topicbox.com/latest).  I've looked a bit and it does not look like they can be automatically filtered.

@sheraaronhurt  What do you think of also sugges

[2019-05-06 16:07] sheraaronhurt commented on #431
@maneesha that would be good. Where would we put this language for requesting a local region email...on the [RC's](https://carpentries.org/regionalcoordinators/) page?

@ErinBecker it would be nice to have the pub of the RC's in the congrats email :)

[2019-05-07 19:42] ostephens opened #446 "Guidance on display of external URLs in lessons"
Before Library Carpentry lessons formally joined the Carpentries, we had some discussion about the display of URLs in lessons (see https://github.com/data-lessons/library-openrefine-DEPRECATED/issues/54)

tl/dr; should we include full URLs in the lesson visible to the users so they can be read both on screen and in print outs, or should they be done as hyperlinks with sensible link text instead of

[2019-05-10 13:17] maneesha opened #451 "Guide to PRs on Carpentries lessons"
See https://github.com/dmgt/swc_github_flow/blob/master/for_novice_contributors.md

This should go in handbook and be referenced by  lesson_example, CONTRIBUTING.md and Instructor Training.

[2019-05-11 19:40] dmgt commented on #451
Thanks! This guide was a joint effort together with @dtwrub and @daisieh

I remember finding the instructions in CONTRIBUTING.md cryptic for newcomers if you didn't already know what  the `gh-pages` branch was and how to set yourself up with forking and branching, so agree it'd be helpful to add something there. Right now the "How to contribute" and "Using Github" sections have "If you are comfort

[2019-05-14 19:25] maneesha commented on #451
Guide added with 2dd3030d9de475e3143394e887df66a9952f3c59

[2019-05-14 20:06] maneesha opened #452 "Renames Carpentries en Latinoamerica?"
@raynamharris  made updates to the Carpentries website (https://github.com/carpentries/carpentries.org/pull/447) updating how we refer to Carpentries en Latinoamerica.

@raynamharris Would you recommend similar changes here?
https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html

[2019-05-14 20:07] maneesha commented on #452
If it's as simple as moving things around, I can do this but I want to be sure any language changes go by a fluent speaker.

[2019-05-16 17:49] raynamharris commented on #452
Yes, a simple rename would be great. A few of us are working to revamp it can add more substantial updates later in time.

[2019-05-17 08:30] rgaiacs opened #455 "Programs vs Programmes"
The [Style Guide](https://docs.carpentries.org/topic_folders/communications/style-guide.html) says

Could you include the use of program vs programme to the style guide?

[2019-05-17 12:02] maneesha commented on #455
Thanks for bringing this up @rgaiacs
We use the word "program" a lot - especially as we refer to all our "lesson programs" of The Carpentries and when we talk about writing "computer programs" in our work.  I could use some guidance on how we should implement this --- maybe from @serahrono  from a communications perspective, and from anyone else who can provide a perspective outside of American En

[2019-05-28 15:19] maneesha commented on #452
Fixed with 86b4cb4616023bd7e08f70792698939b45f21482

[2019-05-28 15:19] #452 closed

[2019-05-28 15:23] maneesha commented on #451
Closing this here. Opened issue in [lesson-example](https://github.com/carpentries/lesson-example/issues/262) to incorporate this there.

[2019-05-28 15:23] #451 closed

[2019-05-28 15:27] maneesha commented on #431
Fixed with 14b4789e5646760ba8e85df3766a220dcb6e4d0f

[2019-05-28 15:27] #431 closed

[2019-05-28 15:29] maneesha commented on #251
@serahrono  approved having logos linked in the handbook so this issue can be closed
67ce17d265793736e7a191f3147f8fc0ff5acc5c

[2019-05-28 15:29] #251 closed

[2019-05-29 07:30] katrinleinweber opened #457 ""Teaching unofficial Carpentries workshops" page needs links"
Good 1st issue / newcomer-friendly:

See https://docs.carpentries.org/topic_folders/hosts_instructors/unofficial_workshops.html. Can be done on https://github.com/carpentries/handbook/edit/master/topic_folders/hosts_instructors/unofficial_workshops.md , but with `[text](https://...)` style or using `{% include links.md %}` or similar? @maneesha

[2019-05-29 11:41] maneesha commented on #457
Thanks for bringing this up @katrinleinweber
Are there specific things you think should be linked from this page?

[2019-05-31 03:20] katrinleinweber commented on #457
Only the "Read more" links for now ;-)

[2019-05-31 13:29] LUS24 opened #461 "Meaning of a sentence"
Hi, I'm helping to translate the handbook to Spanish and I'm having trouble with this sentence in the fourth paragraph of the [ Code of Conduct Incident Response Guidelines](https://docs.carpentries.org/topic_folders/policies/incident-response.html) where it says:

"_Ideally, we would all be able to **diffuse** an incident._"

Shouldn't it say **defuse** instead?

Definitions I found:
**Diffuse**:

[2019-05-31 13:47] maneesha commented on #457
Thanks @katrinleinweber  - I missed that!  I'll fix that now.

[2019-05-31 13:48] katrinleinweber commented on #457
I already did, see #459 ;-)

[2019-05-31 13:50] maneesha commented on #461
I think you're right @LUS24

@kariljordan  Would you agree?

[2019-05-31 13:58] maneesha commented on #457
Fixed with 9b141e0bf679143d48a42ab8bf2a7adc9628ea83
(I fixed it before I saw #459 -- thanks to @katrinleinweber  for catching this!)

[2019-05-31 13:58] #457 closed

[2019-06-07 14:14] kariljordan commented on #461
@LUS24 you're right! This is such a great catch. Thank you. I'll submit a PR.

[2019-06-07 14:42] maneesha commented on #461
Closed with #464
Thanks @LUS24 !

[2019-06-07 14:43] #461 closed

[2019-06-14 23:40] #441 closed

[2019-06-14 23:40] serahrono commented on #441
great catch @amyehodge! Thank you!

[2019-06-21 15:20] kariljordan commented on #382
@karinlag please update us as to whether we should close this issue.

[2019-06-25 04:56] katrinleinweber opened #468 "Checklists: How to increase adherence to them?"
As an instructor I find myself too often discussing basic pre-workshop tasks and their assignment.

a) Maybe our checklists would be easier to follow if they were [numbered](https://about.gitlab.com/handbook/people-operations/group-conversations/#suggestions)? Definitely, that would make refering to specific tasks easier.

b) We could also visualise the task list, e.g. as a [gantt chart](https://m

[2019-06-25 14:58] maneesha commented on #468
Good suggestions @katrinleinweber

What does @sheraaronhurt  think from a workshop admin perspective?  Do we often find people don't use the checklists?

[2019-07-06 19:21] sheraaronhurt commented on #468
@maneesha I have not gotten any feedback either way (being used or not). However, if instructors are using them adn would like them numbered as suggested by @katrinleinweber

[2019-07-08 14:40] tobyhodges opened #473 "provide guidance on use of "dataframe" vs "data frame""
There is inconsistent use of dataframe (all one word) and data frame in some of our lessons, especially those in alpha or beta stages of development - it would be good to provide guidance on the accepted form (which I guess should be "data frame") in the style guide.

[2019-07-12 14:38] maneesha commented on #468
Thanks for the feedback @sheraaronhurt

@katrinleinweber  would you be interested in submitting a PR to create numbered lists and/or a gantt chart?

[2019-07-12 14:39] maneesha commented on #382
@kariljordan and @karinlag  Let me know what the status of this issue is and how I can help.

[2019-07-12 14:41] maneesha commented on #372
As a temporary hack I've added anchor tags to the `.md` extensions.  I'll look in the possible solution Katrin shared at another time.

[2019-07-12 14:43] maneesha commented on #372
See https://github.com/carpentries/handbook/pull/476
and
https://github.com/carpentries/handbook/pull/475

[2019-07-12 15:14] #369 closed

[2019-07-12 15:15] maneesha commented on #43
Fixed with a2bc87eba63f66afc96b74025e6a8c273fb1b071

[2019-07-12 15:15] #43 closed

[2019-07-12 16:04] maneesha commented on #410
Thanks for bringing this up @fmichonneau
I wasn't aware myself of the Jekyll link formatting.  Most of the time I have seen and used html style links (i.e., `<a href = "url">text</a>`) or markdown style links (i.e., `[text](url)`).

I think it would be good to add this documentation to our handbook.  Would it be different for the SWC website since that's built differently?

Also given that most li

[2019-07-12 16:06] maneesha commented on #361
Hi @karenword I think we now have the Trainers Guide just in the IT curriculum so I am closing this.  Feel free to re-open if you see anything else that is duplicated.

[2019-07-12 16:06] #361 closed

[2019-07-12 16:08] maneesha commented on #71
Hi @serahrono  Given your recent restructuring of the Communications section of this handbook, do you still want to keep this open?

[2019-07-12 16:09] maneesha commented on #47
@ErinBecker  Should we keep this open, or does the new Curriculum Development Handbook (linked to in this Handbook's [Lesson Development](https://docs.carpentries.org/topic_folders/lesson_development/index.html) section) cover this?

[2019-07-12 16:11] maneesha commented on #47
@remram44 [lesson-example](http://carpentries.github.io/lesson-example/) was updated following the release of the Curriculum Development Handbook.

What are the other lessons or handbooks you might suggest changes to?

[2019-07-12 16:14] maneesha commented on #48
@ErinBecker   This is an old issue - it is still relevant?   For the two unchecked points:

- If the information about how to deal with issues is in the Maintainer onboarding, do we also want to have it in this handbook?
- For the lesson template style, I know @fmichonneau  has been doing a lot of work on this.  François, do you have suggestions on what do include here?  I've updated things in the

[2019-07-12 16:15] maneesha commented on #65
@sheraaronhurt   I think this can be closed - unless you can think of other information that is missing from the handbook.

[2019-07-12 16:18] maneesha commented on #120
Hi @ErinBecker  Given the new internationalisation slack channel and other interest in lesson translations, is there anything you want to include here?

[2019-07-12 16:19] #367 closed

[2019-07-12 16:19] maneesha commented on #355
@sheraaronhurt Do you think we should include a separate section for this, or do you think it gets covered in all the other workshop admin information?

[2019-07-12 16:20] maneesha commented on #39
Closing as stale -feel free to re-open if needed.

[2019-07-12 16:20] #39 closed

[2019-07-12 16:21] maneesha commented on #129
@ErinBecker  @fmichonneau  Do we have updated information about Bug BBQs?

[2019-07-12 16:33] maneesha commented on #120
See also https://github.com/carpentries/carpentries.org/issues/435

[2019-07-12 16:59] remram44 commented on #47
Individual lesson README's ([example](https://github.com/swcarpentry/sql-novice-survey/blob/08ec393beefdb385c83178bbc285f4f634ca8b46/README.md)) still refer to it as:

and the CONTRIBUTING ([example](https://github.com/swcarpentry/sql-novice-survey/blob/08ec393beefdb385c83178bbc285f4f634ca8b46/CONTRIBUTING.md#where-to-contribute)):

Those should probably point straight to the handbook instead? (th

[2019-07-12 17:45] katrinleinweber commented on #468
Thanks for the reminder :-)

[2019-07-12 19:39] #468 closed

[2019-07-12 19:41] maneesha commented on #372
Looking at the SO post shared above, it looks like AutoStructify actually transforms `*.md` to `*.html` which is not what we want -- we need to have the original `.md` preserved.  Closing this as the hacky approach seems to work for now.

[2019-07-12 19:41] #372 closed

[2019-07-12 19:43] maneesha commented on #47
Thanks for these examples @remram44
What would you suggest @ErinBecker and @fmichonneau ?

[2019-07-12 19:45] maneesha commented on #146
@fmichonneau Is this something that's about the handbook or about the blogs across all four websites?  We have had other conversations about having all four websites using the same template. I believe it's only SWC that uses a different template, so can we close this here and discuss it in SWC or offline as a bigger project?

[2019-07-12 19:46] ErinBecker commented on #47
Thanks for the ping @maneesha. This one is a little complicated. Can we plan on talking through it at one of our upcoming meetings and write out a document together of what goes where?

[2019-07-12 19:48] ErinBecker commented on #120
We can link to the new slack channel. Other than that, let's hold off on making formal documentation for this process, as @fmichonneau will be integrating translation capabilities into the new lesson template.

[2019-07-12 19:48] ErinBecker commented on #120
Let's keep this open though, so we know to update it later once the lesson template is ready.

[2019-07-12 19:49] ErinBecker commented on #129
We're not planning any Bug BBQs for the next two quarters, so let's leave this open and mark it to look at later.

[2019-07-15 14:40] kariljordan commented on #382
I'm transferring this issue to the CoCc repo.

[2019-07-16 16:17] fmichonneau commented on #146
I had opened the issue here because of the documentation aspect but we could keep the discussion somewhere else. The 4 websites use the same template (with SWC using a simplified version) but they are not set up the same way which lead to a need for different options to set in the YAML headers of blog posts and pages. Ideally, we'd want to use the same template and configuration across all our sit

[2019-07-17 10:17] fmichonneau commented on #410
It's the same for all our websites. This is Jekyll syntax, and the location of the files follow the same pattern.

It'd be nice but it's going to be quite a lot of work. I think at this time it's probably best to start adopting good practices and only fix the links that are broken using the syntax outlined above.

[2019-07-17 23:01] Denubis opened #489 "Missing checkout instructions on issues/pull requests"
This repo doesn't have the contribution pro-forma in the pull request text:

Please delete this line and the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instr

[2019-07-18 13:04] maneesha commented on #489
Thanks @Denubis
The language you've quoted above is for our lesson repos.  We don't have it here as this repo is not part of the lesson maintainers or checkout process.

Please feel free to re-open if you still think it would be useful to have some type of default text here or on the many other non-lesson repos within The Carpentries.

[2019-07-18 13:06] maneesha commented on #349
Fixed with #486

[2019-07-18 13:06] #349 closed

[2019-07-18 17:40] sheraaronhurt commented on #355
@maneesha  this would be a good section to add. We cover a lot of information and I don't want this to get lost. It would be good for these to be stand alones. At the moment I can't think of any other emergency situations but I will poll the RC's to see if they have any.

[2019-07-18 21:37] Denubis commented on #489
Hi @maneesha

@jduckles and I made a point of saying that any pull request on an actively maintained repo in the carpentries orgs would be valid for checkout. Looking at https://carpentries.github.io/instructor-training/20-checkout/index.html#lesson-contribution it does say "Lesson" rather than "carpentries repo"

Looking at https://carpentries.github.io/instructor-training/checkout/ does indicate

[2019-07-19 16:11] ErinBecker commented on #489
We actually do accept any issue, comment, or PR to any actively maintained repo in the carpentries org (or swc, dc, or lc orgs) as valid for checkout. Not a bother at all - @maneesha can make sure this information is updated. Thank you!

[2019-07-22 11:00] maneesha commented on #489
Thanks for this update @ErinBecker
I wasn't aware of that.  I'm putting in an issue in the [instructor training](https://github.com/carpentries/instructor-training/issues/1024) repo to consider updating the checkout instructions, which imply that contributions are meant for lessons.

I'm also making a note to myself to update the default text across all actively maintained repos in The Carpentries

[2019-07-22 20:32] maneesha opened #492 "Outdated/broken links in Spanish meeting section"
In the [bilingual meeting section](https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html#reuniones-bilingues-bilingual-meetings)

- Instructor training checkout goes to an old SWC blog post
- Teaching demo section leads to https://github.com/carpentries/latinoamerica/blob/master/traducciones/demo.md# which contains inaccurate information (refers to instr

[2019-07-22 20:38] maneesha opened #493 "Section in carpentries-es not translated"
The [carpentries-es](https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html#) section includes English and Spanish translations of all sections except [Como puedes ayudar/ways to help](https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html#como-puedes-ayudar-ways-to-help).

Anyone interested in helping with this

[2019-07-23 03:21] raynamharris commented on #493
I can work on this

[2019-07-23 14:34] maneesha commented on #493
Thanks Rayna!

[2019-07-24 01:47] sheraaronhurt opened #494 "centrally organized vs. self organized"
@maneesha the [teaching/hosting](https://github.com/carpentries/handbook/blob/master/topic_folders/hosts_instructors/index.rst) section in the handbook has identical verbiage for Centrally vs. Self organized.

Also in the handbook there is a scroll box versus the 3 columns like it is seen in the repo.

[2019-07-24 12:56] maneesha commented on #494
Thanks for catching this @sheraaronhurt !
What language would you suggest as a quick way to show the difference between the two?

Also in the handbook you see it scrolling because of the template that the handbook is built with.  So tables don't render that great there. We could make this a bulleted list instead of a table to make it easier to read.  What do you think?

[2019-07-24 13:05] maneesha commented on #355
Thanks @sheraaronhurt.  I have started to list out what you might do for some of these situations.  Please continue to add here.  Once we have a fair amount of content, I'll move it to the handbook - and we can always add more there later.

**Situation: Co-instructor can't come due to illness, flight delay, etc.**
* Contact team@carpentries.org.  Depending on how much notice we get, we may be able

[2019-07-24 13:07] maneesha commented on #48
Checking in @ErinBecker

[2019-07-24 13:08] maneesha commented on #65
@sheraaronhurt  I'm closing this now; feel free to re-open if there's anything else we should include.

[2019-07-24 13:08] #65 closed

[2019-07-24 20:34] ErinBecker commented on #48
Yes - this is still super incomplete. Can you add to our agenda for tomorrow to plan out what needs to be done here?

[2019-07-25 20:43] karenword opened #498 "image not rendering"
This image:
https://github.com/carpentries/handbook/raw/master/img/comms-tone-scale.png

is broken in this section:
https://docs.carpentries.org/topic_folders/communications/resources/comms-strategy.html#a-language-and-tone-of-our-communications

[2019-07-26 14:56] #498 closed

[2019-07-26 15:00] maneesha opened #499 "broken reference to using mobile/web apps"
The [Communications Strategy](https://docs.carpentries.org/topic_folders/communications/resources/comms-strategy.html#facebook)  page notes that "The Carpentries community members hail from 46 countries. Statistically [1,2], people in nations outside of the United States and Europe primarily use mobile web/applications to engage...."

It looks like [1,2] is supposed to link to sources.  @serahrono

[2019-07-29 07:03] #499 closed

[2019-07-29 19:26] sheraaronhurt commented on #355
@maneesha  this is great! I will report back once I meet with the RC's

[2019-07-29 20:17] sheraaronhurt commented on #494
@maneesha  a bulleted list would be preferred.

Suggested text. Feel free to revise
**Centrally Organized Workshop**
- registration manged by The Carpentries Workshop Administration Team
- instructor recruitment managed by The Carpentries Workshop Administration Team

**Self-Organized Workshop**

- registration managed by local organizer
- instructor recruitment managed by local organizer

[2019-07-30 11:25] #494 closed

[2019-08-04 20:43] dpshelio opened #506 "[Translations] - md links do not appear. Suggesting change to reST"
I imagine we've been using a mix of md and reST files because md is easier and allows more people to get on board editing the files. However, I'm finding a big blocker. When translating documents the gettext tools provided by sphinx-intl removes the links from the text, therefore making the translations not as rich as they should be. For example, see one of the translated pages already:

[English]

[2019-08-05 15:47] maneesha commented on #506
Thanks for this suggestion @dpshelio  and for PRs #504 and #505 - I appreciate the time you've put in to this.  You're right that we mainly use `md` files because they're easier, and preferable from an inclusivity standpoint.  I think the TOC pages had to be in `rst` though; hence the inconsistency.   However, allowing ease of translation is also important to inclusivity so we want to consider thi

[2019-08-05 16:35] maneesha commented on #506
Also - we've found sometimes link formatting gets tricky.  I added in some notes in the readme about this: https://github.com/carpentries/handbook#formatting-hyperlinks

[2019-08-21 14:41] sheraaronhurt commented on #355
@maneesha  not having access to the building came up as an emergency

[2019-08-21 15:05] maneesha opened #511 "Spanish translation of "no-pass" email"
In a [recent PR](https://github.com/carpentries/handbook/pull/509) we made changes to the email "no-pass" email template for teaching demos.  The Spanish translation of this should be updated as well.

Any Spanish speakers interested in helping with this? @raynamharris  @orchid00

[2019-08-21 15:06] #440 closed

[2019-08-21 22:24] maneesha commented on #355
Thanks @sheraaronhurt
What would we suggest Instructors do in that case?

[2019-08-23 00:24] sheraaronhurt commented on #355
@maneesha be sure to have the contact number for the host(s) prior to the workshop and any other persons involved with the logistics onsite. If the building isn't available be sure to contact all of the participants letting the know the workshop has been cancelled until further notice.

Feel free to add to this.

[2019-08-23 14:36] maneesha commented on #355
Fixed with 01aeb1be65eafd0b8622d61be115b91db03eaea0  and
b94de29e86e446613d1b5c4ca3680d740bb816d7

[2019-08-23 14:36] #355 closed

[2019-08-26 14:27] ppival opened #514 "Questions about the Style Guide"
In working through the [Style Guide](https://github.com/carpentries/handbook/blob/master/topic_folders/communications/resources/style-guide.md) the other day, I came away with the following questions:

- Under bullet points, does this same information apply to numbered lists as well? I think it should... (requires a new section)
- One or two spaces after periods? I *think* the world has decided th

[2019-09-09 14:59] maneesha commented on #506
Closing this as I don't think we're ready to address this now; we can revisit it if we need to again.

[2019-09-09 20:49] dpshelio commented on #506
What do we mean with not ready to address it? #505 is a way to convert all the documents into ReST. Should I keep a fork of the documentation all in ReST so the translations are richer?
Also, closing an issue while still is an issue is not a good practice. I would like to suggest the use of a label instead or milestones as to when this would be revisited. Otherwise, if it depends just on me, it wi

[2019-09-09 23:45] maneesha commented on #506
Hi @dpshelio  - thanks for your response.  First, I want to apologize to you.  I've had issues or PRs I've submitted simply closed, and it is a terrible feeling.  I am really sorry I made you feel that way.

I'm glad to see Erin has re-opened this.  As we look at how we manage translations of our resources, we do want to keep this as an option.  Thanks so much for what you've contributed so far.

[2019-09-11 06:29] iamc opened #516 "Inconsistency on how to start setting up a self-organised workshop"
In section [`WORKSHOP ADMINISTRATION >> Workshop Administration Workflow >> For Self-Organised Workshops`](https://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html#for-self-organised-workshops) as a first step it states

While both in [ `TEACHING AND HOSTING >> Self-Organized Workshop`](https://docs.carpentries.org/topic_folders/hosts_instructors/index.html#s

[2019-09-11 09:11] dpshelio commented on #506
Thanks @maneesha, it's OK. Don't need to apologise. I didn't feel terrible, I was trying to know whether there's been some discussion/decission that I had missed.

[2019-09-11 13:23] #516 closed

[2019-09-18 06:23] iamc opened #521 "Self-organised workshops should reflect new registration form instructions"
The new [self-organised workshop setup form](https://amy.carpentries.org/forms/self-organised/) states that you should

which contradicts the handbook in several places, at least [here](https://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html#for-self-organised-workshops), and [here](https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructo

[2019-09-18 15:51] maneesha commented on #521
Thanks for bringing this up, @iamc .
Could you identify the specific points of discrepancy?

[2019-09-19 03:03] Denubis opened #522 "Teaching demo workflow should be more easily searchable"
Ran a teaching demo this morning and was furiously looking around for https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html?highlight=teaching%20demo#running-a-teaching-demonstration

Typing "teaching demo" into search doesn't have the parent above the fold:

![Screenshot from 2019-09-19 13-01-20](https://user-images.githubusercontent.com/243503/65210161-a60ce000-dadd-

[2019-09-19 07:36] iamc commented on #521
In [Docs » WORKSHOP ADMINISTRATION » Workshop Administration Workflow » For Self-Organised Workshops](https://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html#for-self-organised-workshops) (this should be a bit different once my PR #517 is shown in the rendered version, but wrong in any case:

and in [Docs » TEACHING AND HOSTING » Workshop Checklists](https:/

[2019-09-19 14:21] maneesha opened #523 "View Trainers badge with other instructor badges"
When you view a list of Persons it shows the DC/LC/SWC badge they have.  Trainer badge should also be noted here.

![image](https://user-images.githubusercontent.com/829690/65252562-2e33bb00-dac7-11e9-8937-d84ec463f0f8.png)

[2019-09-23 20:49] maneesha commented on #523
Closing this - it should have been submitted in the [AMY repo](https://github.com/carpentries/amy).

[2019-09-23 20:49] #523 closed

[2019-09-23 22:37] Denubis commented on #522
Besides reconsidering the hierarchy-level of headers, or making a "frequently accessed pages" FAQ style linking document, it looks like we'll need to adjust the level of header articulated by the full text search. I'll... try to figure out how to do that this weekend.

[2019-10-03 12:13] orchid00 commented on #511
@npalopoli

[2019-10-03 23:11] ErinBecker opened #532 "adding issue labels to new repo"
In these instructions, there is the sentence:

Could we please add a download link that lets people download this file without having to dig around to find the repo data folder and google how to download a csv from GitHub? 😇

[2019-10-04 13:06] #532 closed

[2019-10-05 17:57] rostow commented on #511
@maneesha, I have just submitted a PR with the updated translation. Let me know if I can help you with anything. Cheers!

[2019-10-09 15:00] maneesha commented on #521
Hey @iamc  - Apologies for the delay in following up. We changed all our workshop request and self organized workshop forms a few weeks ago and I wanted to be sure that was all in place before making any changes.  If you're still interested in submitting a PR I'd be happy to review it for merging.  No obligation though - let me know!

[2019-10-09 16:44] iamc commented on #521
Hi @maneesha, my fault, sorry. I didn't forget this, just a bit busy on my side. Give me a few days and I'll review this and submit a PR.

[2019-10-23 00:24] mfoos opened #539 "clarification request in tag selection guide"
With the emphasis on "less is more" it's not clear to me whether including the "Data Carpentry" tag is desired, or whether that will be done automatically as part of a port to the central blog. Thanks!

[2019-10-23 10:51] serahrono commented on #539
Hey @mfoos, great question.

For tags on posts in the Data Carpentry blog, there is no need to add `Data Carpentry` as a tag as all posts there are on that subject.

However, if a community member wanted to narrate their experience from contributing to /working with Data Carpentry resources or running a Data Carpentry workshop and have this published on the central Carpentries blog (carpentries.or

[2019-10-23 11:12] serahrono commented on #539
I have now [updated the guide to reflect this](https://github.com/carpentries/handbook/blob/master/topic_folders/communications/guides/select-blog-tags.md#carpentries-tagathon). Changes to text in the handbook will take a few hours to propagate, but thanks a bunch for the nudge @mfoos!

[2019-10-23 13:08] maneesha commented on #539
Thanks for updating this @serahrono

Can we close this issue?

[2019-10-23 13:11] #539 closed

[2019-10-24 14:34] kariljordan opened #540 "Update Assessment Section of Handbook"
Since we've migrated the learner surveys to Typeform, should we revise the links on the [assessment page](https://github.com/carpentries/handbook/blob/master/topic_folders/assessment/assessment.md)?

[2019-10-25 13:34] maneesha commented on #540
Yes, thanks @kariljordan
I will take care of this.

[2019-10-28 18:24] maneesha commented on #540
This page currently has links to the Survey Monkey surveys in preview mode.  Survey Monkey makes it  clear that you're in preview mode when you open those links by giving you a pop up notification.  The title of the page on the browser tab also says "[SURVEY PREVIEW]."

I've been looking at ways to do this in Typeform.  I found [these instructions](https://www.typeform.com/help/sandbox/) but doing

[2019-10-30 15:11] serahrono opened #541 "Add Grants as a tag for blog posts"

[2019-10-30 15:13] maneesha opened #542 "Create dictionary for blog post tags"
We should have a list of all blog post tags with a short definition of how each is to be used.

[2019-11-05 09:50] amyehodge opened #543 "Update mission referred to in style guide"
I would like to see the mission on the following page updated to the current version of the mission.

https://docs.carpentries.org/topic_folders/communications/resources/comms-strategy.html

This page currently says:
"The Carpentries Mission
The Carpentries’ objective is to build capacity in essential data and computational skills for conducting efficient, open, and reproducible research."

The of

[2019-11-05 16:08] fmichonneau commented on #540
I've looked a little more into this and I can see 4 options:

1. we use their recommended approach, but I agree with @maneesha that it might cause confusion
1. we create our own link for demonstration purposes: the survey would look exactly the same as it currently does, but after the first screen and before the submission screen, we would display a notice that says that it's not a real workshop s

[2019-11-06 17:41] maneesha commented on #540
@fmichonneau There is still a "submit" option when you complete an embedded survey, right?  We would want to make sure that those reponses are somehow flagged so that when we do larger reports, those are not included. As long as that works, I'm good with option 3.

Does Typeform let you create a PDF/text of the survey questions?  If so that may be a good option to offer as well.  If we'd have to k

[2019-11-06 17:42] #543 closed

[2019-11-07 08:59] fmichonneau commented on #540
With the embed option (option 3), we can use the URL they recommend to use for demonstration purposes and thus the answers submitted there wouldn't be included in the results of the surveys.

Not to over-engineer things but an option to provide a PDF/text version would be to use their API to create this document automatically and it could be done as a CRON job to make sure things are up to date.

[2019-11-10 15:45] #540 closed

[2019-12-10 15:15] kekoziar opened #553 "Code of Conduct Sentence"
It states in the first paragraph of the code of conduct,

Should it be "any form _or_ behaviour" or "any form _of_ behaviour"?

[2019-12-10 16:40] maneesha commented on #553
Yes, thanks for catching this @kekoziar

Would you like to submit a PR? (no worries if not; I can do this - just wanted to give you the chance)

[2019-12-10 20:36] kekoziar commented on #553
@maneesha I'll do it.  Thanks!

[2019-12-13 21:37] fmichonneau opened #555 "add mention of workshop website helper page"
the workshop website template has now a page with some information for helpers (https://carpentries.github.io/workshop-template/helpers/index.html). It might be useful to list it in the checklists for Instructors.

[2019-12-17 18:24] maneesha commented on #555
Thanks @fmichonneau

@sheraaronhurt  Is there anything specific you think this should say from the Workshop Admin perspective?

[2019-12-17 18:25] maneesha commented on #553
Closing; fixed with #554
Thanks @kekoziar !

[2019-12-17 18:25] #553 closed

[2020-01-08 21:21] maneesha commented on #555
We currently have [an instructor checklist](https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#instructor-checklist) and a [helper checklist](https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#helper-checklist) in the handbook.

@sheraaronhurt  Do you think that the page @fmichonneau  mentioned should be listed a

[2020-01-11 01:54] sheraaronhurt commented on #555
@maneesha where does the page that @fmichonneau live? How would a person get to this page? This will help me understand where this information could live.

[2020-01-14 14:35] maneesha commented on #555
Good question, @sheraaronhurt !

@fmichonneau  - how do you get to this page from the workshop page?

[2020-01-21 14:21] fmichonneau commented on #555
Only by knowing the URL at the moment. There is no link on the page to avoid confusion for the workshop participants.

[2020-01-21 15:45] maneesha commented on #555
Thanks.  I don't think it makes sense to link it from the handbook then, since there isn't much content on the helpers page.  It would just refer back to where it came from.

@sheraaronhurt Happy to consider things if you think it should be linked; otherwise we can close this issue.

[2020-01-21 16:35] fmichonneau commented on #555
There isn't information on the page itself but regularly, instructors want to share workshop-specific information with the helpers. I think that having a mention that this page exists for instructors to customize to share info with their helpers would be useful to have in the handbook. I'll submit a short blurb as a PR for this for you all to review.

[2020-01-22 22:25] sheraaronhurt commented on #555
We will be adding an automated email to remind Instructors/Hosts to email helpers. We can link this there.

[2020-01-29 16:29] maneesha commented on #555
Thanks @sheraaronhurt .
So do you think it also belongs in the handbook or should we just reference it in the email?

[2020-02-07 19:13] maneesha commented on #555
Pinging @sheraaronhurt

[2020-02-11 16:27] sheraaronhurt commented on #555
@maneesha we can just reference it in the email. I am making a note of this page now :)

[2020-02-11 17:14] maneesha commented on #555
Thanks @sheraaronhurt
In that case I will close this issue.

[2020-02-11 17:14] #555 closed

[2020-03-05 18:43] angela-li opened #568 "Instructor tips should include "Talk to an instructor who's taught it before""
It would be great if this [set of instructor preparation tips](https://github.com/carpentries/handbook/blob/master/topic_folders/hosts_instructors/instructor_tips.md) included more specifically instructions to discuss the curriculum with someone's who's taught it before (if they happen to be at the same location, you could even remote call someone and get some tips). Perhaps "Join a Community Disc

[2020-03-16 11:07] maneesha commented on #568
Thanks for sharing this suggestion @angela-li !

@sheraaronhurt  Do you have any feedback from the workshop admin perspective?

Angela, would you like to submit a PR?

[2020-03-17 11:09] sheraaronhurt commented on #568
@maneesha that is a great suggestion. @angela-li thanks for sharing :)

[2020-03-23 15:31] maneesha commented on #568
I would be happy for @angela-li  to have the opportunity to submit a PR.  No worries if you can't get to it now, Angela - I can put something in.  Just let me know!

[2020-03-30 18:10] #568 closed

[2020-04-03 12:45] serahrono opened #571 "Update README with best practices"
Python2 has now been deprecated, might be worthwhile changing our local setup instructions to include instructions for Python3 only. Thoughts?

[2020-04-03 14:11] maneesha commented on #571
Thanks for catching this @serahrono !
Fixed with 17b38eefff

[2020-04-03 14:11] #571 closed

[2020-04-15 13:29] lexnederbragt opened #572 "Broken link to, and outdated info on, Zoom page"
`topic_folders/instructor_training/trainers_guide.md` links to the Zoom guide with this link: ../communications/zoom_rooms.html#zoom-manual. This leads to a dead link. The full correct url ishttps://docs.carpentries.org/topic_folders/communications/tools/zoom_rooms.html - not sure how to correct that in the markdown file.

On that Zoom Rooms page, the room for teaching demos is still listed under

[2020-04-15 14:58] kmomar commented on #438
Adding myself as an assignee and noting that I agree we should have the colors and fonts listed in the style guide. I think once we finish the logo work we can go in and add the color along with recommendations and rules around our logo usage.

[2020-04-15 15:02] kmomar commented on #514
Adding myself as an assignee and noting that I agree with all of these additions.

[2020-04-20 17:50] maneesha commented on #572
Thanks for catching this, @lexnederbragt
This should be fixed by #573  and #574

In addition to what you've noted, I've also updated some other information about how we use Zoom.   If you see anything else that needs fixing, please feel free to re-open this issue or start a new one.

[2020-04-20 17:50] #572 closed

[2020-04-21 06:53] lexnederbragt commented on #572
Thanks! I think this sentence is outdated: "when you are in the Zoom meeting room but unintentionally not as the host, look for the button ‘Claim host’ (click on the ‘Participants’ button; you’ll be asked for a 6-digit host key, which you can find (after logging in to Zoom), at the bottom of the profile, see the explanation here." -> trainers are not logging in to zoom with Carpentries credentials

[2020-04-21 13:09] maneesha commented on #572
@lexnederbragt  Yes, I think that your point above should be in the Instructor Training repo.  Would you like to open an issue there?

[2020-04-22 07:50] lexnederbragt commented on #572
Of course. I submitted a PR even :-) https://github.com/carpentries/instructor-training/pull/1113

[2020-04-27 18:51] fmichonneau opened #578 "rename repo "docs.carpentries.org""
could we rename the repository with the URL of the resource (i.e., docs.carpentries.org). That would mimic what we do with the main website, and there is only one name to remember.

[2020-04-27 20:24] maneesha commented on #578
I think that should be fine. Will it break any builds or other automations we have set up?

[2020-04-28 13:38] fmichonneau commented on #578
done. I'll double the scripts but everything should be fine.

[2020-04-28 13:38] #578 closed

[2020-04-29 07:31] serahrono opened #580 "Linking to Online Workshops Resources page prominently"
Per @elletjies' great suggestion to help people quickly find the Online Workshops Resources page over the next few months while they are figuring this out, we placed a link to the resource more prominently in the Handbook menu - right under the CoC link.

Keen to hear what your thoughts and suggestions around this are @maneesha @sheraaronhurt

[2020-04-29 20:29] sheraaronhurt commented on #580
Thanks @serahrono . I agree with @maneesha  my recommendation was for this page to go under Teaching and Hosting a workshop.

While I understand people want to quickly find the resources, I believe there are other resources that are under "Teaching and Hosting" that are useful as well for all Carpentries workshops. ie email templates.

I would like for everyone to be guided to this page that way i

[2020-04-30 14:43] maneesha commented on #580
As I noted in #576  I thought that putting it immediately below the COC is actually too prominent, and implies that online workshops are an expected norm.

It seems that @sheraaronhurt  also agrees, and would like to see this in the Teaching and Hosting section.  I'll work on making that change.

[2020-04-30 19:47] serahrono commented on #580
thanks @maneesha and @sheraaronhurt. Noting that the page is already under the teaching and hosting section - see  https://docs.carpentries.org/topic_folders/hosts_instructors/resources_for_online_workshops.html

adding @elletjies to this conversation as this is an idea she raised, and made good points for in our Community Development Team meeting a week ago. She is off till Monday, May 4, please

[2020-05-01 07:39] elletjies commented on #580
Thanks @serahrono for bringing me into this conversation. @maneesha and @sheraaronhurt, just a bit of background,  The Carpentries Handbook might be a bit difficult to navigate (particularly to novice instructors). So my suggestion was that we place the Resources for Online workshop page prominently for easy access. However, I do understand separating these two resources might not make sense at al

[2020-05-06 13:32] serahrono commented on #580
Ola @elletjies @maneesha and @sheraaronhurt cc @fmichonneau

having thought about the points raised in this conversation, and those in https://github.com/carpentries/carpentries.org/issues/745, here's a proposal on the way forward:

- have the  https://docs.carpentries.org/topic_folders/hosts_instructors/resources_for_online_workshops.html page under the Teaching and Hosting section in the Handboo

[2020-05-06 13:34] elletjies commented on #580
This sounds good and easily accessible to instructors (new and old).

[2020-05-06 13:40] maneesha commented on #580
I like this idea.

[2020-05-06 14:03] sheraaronhurt commented on #580
This is great!

[2020-05-07 10:33] fmichonneau opened #584 "consolidate page for online workshop resources"
this link:  https://docs.carpentries.org/topic_folders/hosts_instructors/index_online.html brings up a table of content where all the elements belong to the same page (https://docs.carpentries.org/topic_folders/hosts_instructors/resources_for_online_workshops.html). Could we combine these pages into one (table of content at the top, content of the page below) or is there a reason to break it down

[2020-05-07 13:21] maneesha commented on #584
@serahrono  is working on a PR for #580 that I think should address this.

[2020-05-08 08:13] #580 closed

[2020-05-08 09:58] serahrono commented on #584
this is now done @fmichonneau - Page is here https://docs.carpentries.org/topic_folders/hosts_instructors/resources_for_online_workshops.html

[2020-05-11 21:05] maneesha commented on #584
Thanks @serahrono ! Closing.

[2020-05-11 21:05] #584 closed

[2020-05-12 08:33] fmichonneau opened #591 "update jQuery"
make sure we upgrade jQuery (it looks like it's being used by the theme, and inline for showing the Google calendar in the correct time zone).

[2020-05-13 18:09] maneesha commented on #591
Thanks @fmichonneau
I can update what's used for the calendar time zone.

I'm not sure how to update the theme though.

[2020-05-20 18:57] karenword opened #596 "Separate community-facing from core-team-facing Zoom/calendar instructions?"
I was reviewing the new Zoom instructions [here](https://docs.carpentries.org/topic_folders/communications/tools/zoom_rooms.html?highlight=zoom#adding-an-event-to-the-community-calendar) (yay!) and strayed into the room scheduling text below when scrolling down. There are repeated paragraphs stating that community members can't do this, but I had to look for those because I knew they should be the

[2020-05-20 19:27] maneesha commented on #596
Great idea. I will work on separating this out.

[2020-05-21 04:05] maneesha commented on #596
Fixed with #600

[2020-05-21 04:05] #596 closed

[2020-05-21 12:48] maneesha commented on #591
#601 removes jquery from the calendar view.

As discussed with @fmichonneau this week, jquery is loaded by the site theme so we will wait until the theme is updated.

[2020-05-21 13:57] fmichonneau commented on #591
I opened https://github.com/sphinx-doc/sphinx/issues/7696 to report the need to upgrade on the sphinx template.

[2020-05-29 16:01] annajiat opened #619 "Process Flow Diagram for Code of Conduct"
Hi,

Can we have a visual representation of code of conduct related procedures?

A Process Flow Diagram could be a great addition for easier comprehension to the summary view at
https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#code-of-conduct-summary-view

Best regards,
annajiat

[2020-06-01 20:05] kmomar commented on #514
@serahrono I looked into it and it seems i.e. does not have a comma after the full stop in British English, so I am going to proceed with codifying these entries.

[2020-06-02 21:06] maneesha commented on #619
Thanks for bringing this up @annajiat

I'm referring this to the @carpentries/code-of-conduct-committee for follow up. Is a flow chart something you would be able to create for inclusion in the handbook?

[2020-06-03 09:52] annajiat commented on #619
1. This is something that would help community members comprehend
- overall process
- sub processes
It short, it would be a pictorial summary of existing list items.

2. I would be happy to create given some directions and guidance.

[2020-06-15 08:25] serahrono opened #626 "consider renaming the master branch"
Scott Hanselman offers a how-to guide for this in his blog post https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx, and if @maneesha agrees, I will go ahead and do this.

[2020-06-15 08:28] serahrono commented on #626
@fmichonneau what do you think? might be good to discuss this more broadly and see what guidelines to offer for all repositories in The Carpentries organisation on GitHub

[2020-06-15 13:34] maneesha commented on #626
hi @serahrono , thanks so much for bringing this up. It means so much to me to remove this terminology from spaces like this. Can you share a bit about why you'd like to prioritize re-naming this branch in this repo?  I'm including some follow up questions here just as record, but this applies to all Carpentries repos I may continue this discussion in another space.

I think re-naming just this on

[2020-06-15 14:03] fmichonneau commented on #626
Thanks for bringing this up @serahrono. I'm in support of removing this terminology from our repositories (it's something that has bothered me for a while). As @maneesha pointed out, a lot of our infrastructure (scripts, documentation, ...) relies on the assumption on the current terminology used for the default branch. Some are within our control but others might not be.  I'll consult with the Ex

[2020-06-15 15:31] zkamvar commented on #626
For what it's worth, people have begun to write tools for auto-migrating repositories: https://github.com/dfm/rename-github-default-branch

Unfortunately, this will break any website that doesn't have the `gh-pages` branch as the default branch. I tried this with my dissertation repo and found that @github only allows the "master" or "gh-pages" branch for the site.

![Screenshot showing a dropdown

[2020-06-15 18:49] zkamvar commented on #626
Note: I just received feedback from GitHub about allowing the default branch to be the source for gh pages:

[2020-06-25 23:49] karenword opened #635 "Zoom instructions for sharing computer audio (for Trainers)"
In a recent workshop, my co-Trainer had difficulty showing the example videos because the audio did not play correctly through Zoom. Since then, I noticed that the screenshare selection window has a checkbox for "use computer audio" and I suspect this might have solved the problem.

Currently the "screen sharing" [section](https://docs.carpentries.org/topic_folders/communications/tools/zoom_rooms.

[2020-06-29 20:23] maneesha commented on #619
Pinging  @carpentries/code-of-conduct-committee -- any thoughts on this?

[2020-06-29 20:26] maneesha commented on #591
@fmichonneau  It looks like the theme has been updated. Is this OK to close?

[2020-06-29 20:30] maneesha commented on #591
It was called in one more place as we recently added in another calendar view.  #636  takes care of that.

[2020-06-30 10:27] #591 closed

[2020-06-30 10:27] fmichonneau commented on #591
thanks Maneesha!

[2020-06-30 16:29] maneesha commented on #635
We just tested this out.  Instructions should remind people to select the "Share Computer Sound" option if they want audio from a video to play.

[2020-07-06 14:36] maneesha opened #641 "Workshop survey instructions out of date"
The Handbook still refers to setting up survey instructions via Survey Monkey.
@Talishask  am I right that we are using Typeform and the app to send surveys for ALL workshops?  That would mean this section should be removed.  Talisha, do you have recommendations on what this section should say instead?

Link to the section I'm talking about: https://docs.carpentries.org/topic_folders/workshop_admi

[2020-07-06 14:36] #635 closed

[2020-07-06 14:38] maneesha commented on #641
We would also need to change the instructions to set up Survey Monkey on these checklists: https://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html#for-self-organised-workshops

[2020-07-10 14:16] Talishask commented on #641
Hey @maneesha, Yes you are correct about survey monkey (SM). We are using typeform for all workshop surveys and using SM only for training surveys. A good temporary solution until we've completed our automation and infrastructure updates would be to remove the section linked here: [https://docs.carpentries.org/topic_folders/workshop_administration/survey_monkey.html](https://docs.carpentries.org/t

[2020-07-29 12:56] maneesha commented on #641
Closing, fixed with #647

[2020-07-29 18:10] #641 closed

[2020-08-21 17:35] klbarnes20 opened #660 "Add Brand Identity Info to the Communications Section"
I apologize if this already somewhere and I missed it, but if not, could we add brand identity information (Carpentries color hexcodes, Fonts, etc.) to the Communications section of the handbook (maybe near the logos section)?

[2020-08-24 18:05] karinlag commented on #619
I see this is still open. Question: is it how the process looks like from outside, or what goes on internally you are looking for? The two naturally overlap but the internal one is considerably more convoluted :)

[2020-08-24 18:07] maneesha commented on #660
This is a great idea @klbarnes20 !
You had said on Slack you'd be up for putting in a PR based on the information that @ErinBecker  gave you.  Assigning this to you for now; please feel free to assign back to me if you'd prefer.

[2020-08-24 19:22] klbarnes20 commented on #660
Thanks @maneesha! I just created this PR: https://github.com/carpentries/docs.carpentries.org/pull/661

[2020-08-26 15:17] k8hertweck opened #662 "Recommended lessons for instructor training participants"
Rather than linking to all lessons for each lesson program, the [pre-class email](https://docs.carpentries.org/topic_folders/instructor_training/email_templates_admin.html#one-week-trainee-email-online-training) to folks taking instructor training should reference the [preferred lessons](https://carpentries.github.io/instructor-training/12-homework/index.html) instead.

[2020-08-26 19:26] maneesha commented on #662
@karenword  Can you offer feedback on this? Should modify the curriculum so it **does not** reference a list of preferred lessons, or should we modify the Handbook so that it **does** reference a list of preferred lessons?

[2020-08-26 20:43] karenword commented on #662
I think the preferred lessons should be maintained by Trainers, and as such should be contained with in the Instructor Training repository rather than the handbook.

Linking out is also a great way to shorten this monstrous email. +1!!

[2020-08-27 09:17] annajiat commented on #619
Primarily, how the process looks like from outside for the general members
and then later if possible, internal one for the people aspiring to be a part of the CoC team

[2020-08-27 10:28] malvikasharan commented on #619
Hi Annajiat, we are in the process of finalizing the committee structure (that Karin has worked significantly on) - one that is approved, we will add that to the CoC documents. If you are considering to join the committee, you should have a look at this document for now: https://docs.carpentries.org/topic_folders/policies/coc-membership-agreement.html (and really sorry for the late reply, I did no

[2020-09-01 18:19] karinlag commented on #619
I think an "outside" view can be put together quite easily. @malvikasharan, I will contact you directly and we can see what we can do.

[2020-09-02 00:37] annajiat commented on #619
@malvikasharan
I am interested in joining the committee.
I have read https://docs.carpentries.org/topic_folders/policies/coc-membership-agreement.html
Is there anything else that I should do for now?

[2020-09-08 11:39] maneesha commented on #660
Fixed with #661

[2020-09-08 15:27] maneesha commented on #662
Actually, I read this wrong.  The pre-class email](https://docs.carpentries.org/topic_folders/instructor_training/email_templates_admin.html#one-week-trainee-email-online-training) that @k8hertweck  is referring to does not list all preferred lessons.  Rather it suggests that trainees should review any of the lessons in the three lesson programs.

Looks like I opened this issue long ago in the Ins

[2020-09-08 16:18] ErinBecker commented on #660
![Screen Shot 2020-09-08 at 7 18 25 AM](https://user-images.githubusercontent.com/19176319/92502070-33948480-f1b4-11ea-807e-c9b55b33939f.png)
Looking a little odd to me. Are those big black circles supposed to be bullet points or circles of the colors matching the hex codes?

[2020-09-08 16:36] maneesha commented on #660
The black circles were supposed to match the colors.  I'm working on fixing the styles for it now.

[2020-09-08 16:53] maneesha commented on #660
Fixed with #666

See a [preview here](http://docs.carpentries.org.s3-website-us-east-1.amazonaws.com/topic_folders/communications/resources/brand_identity.html).

It may take some time to propagate to the live site but it should look like this now:
![image](https://user-images.githubusercontent.com/829690/92505477-25556100-f1d2-11ea-870c-2e9e1a9d6d57.png)

[2020-09-08 17:59] ErinBecker commented on #660
Cool! Thanks for fixing this so quickly Maneesha!

On Tue, Sep 8, 2020 at 9:54 AM maneesha sane <notifications@github.com>
wrote:

--
*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Schedule a meeting with me: *https://calendly.com/ebecker-1
<https://calendly.com/ebecker-1>*

[2020-09-08 18:32] #660 closed

[2020-09-21 16:19] karenword opened #667 "Can Zoom calendar display UTC and local?"
Referring to calendar here: https://docs.carpentries.org/topic_folders/communications/tools/zoom_rooms.html#viewing-zoom-room-availability

In my own Google Calendar, I am able to display two time zones. Since all our events are listed in UTC, I think it would be particularly useful to have this feature available on this calendar if possible -- this way the participant can double check the UTC tim

[2020-09-21 17:54] maneesha commented on #667
This is a feature that can be enabled in a user's own calendar but not in the view that's embedded in a page like this.  It's a good idea but not something that we can implement in a practical way.

[2020-09-21 17:54] #667 closed

[2020-10-07 08:20] lexnederbragt opened #675 "Add Committee and Task Force Policies to the handbook"
The Executive Council recently approved the Committee Policy and Task Force Policy. We'd appreciate it if these texts can now be added to the Handbook, so we can link to them from the Bylaws.

* [Committee Policy](https://docs.google.com/document/d/1UEGzYNl_Mz3oz_j_Hk6NK7_BaZ5rZw8B9YYw8b_PoEY/edit)
* [Task Force Policy](https://docs.google.com/document/d/1hnxSk1d-rmjZjS5ndJm2ZiHdf2eBRxCgEYa9PiPZoi

[2020-10-12 17:24] maneesha commented on #675
Thanks @lexnederbragt
I'll work on getting these in the Handbook this week. Can you update the date on the bottom of the Committee Policy Document?

[2020-10-12 19:58] maneesha commented on #675
Also @lexnederbragt  would you like to remove https://docs.carpentries.org/topic_folders/governance/committee-guidelines.html once the new Committee Policy page is up?

[2020-10-13 07:36] lexnederbragt commented on #675
Thanks, @maneesha! Date updated.

[2020-10-15 18:23] maneesha commented on #675
Fixed with #676 #677  #678

[2020-10-15 18:24] #675 closed

[2020-10-21 12:39] serahrono commented on #626
hey @fmichonneau, maybe we can revisit this at some point over the next few weeks?

[2020-10-21 13:01] fmichonneau commented on #626
yes, we have started to transition some of our repos where possible. I just created the main branch and updated the scripts that build the site to use it. I'll change the default branch to `main` but I'll let @maneesha delete `master` if she agrees to the change for this repo.

[2020-10-21 13:28] serahrono commented on #626
thank you so much @fmichonneau and @maneesha, @kmomar asked about this in our Community Development Team meeting today, and will be happy to see this is happening

[2020-10-26 14:54] maneesha commented on #626
The `master` branch has been renamed to `main`.

[2020-10-26 14:54] #626 closed

[2020-10-27 18:17] kariljordan opened #686 "Add instructions for Zoom live captioning to handbook"
Thank you for providing such thorough instructions on [how to utilise Zoom for community meetings](https://docs.carpentries.org/topic_folders/communications/tools/zoom_rooms.html?highlight=zoom). In several upcoming workshops, the host will provide an individual to do live captioning for these events. I believe live captioning is already enabled on our Zoom rooms, but we do not have instructions f

[2020-11-05 18:34] maneesha commented on #686
See draft PR #688 in progress.

[2020-11-16 20:24] kmomar commented on #438
Closing this as we now have the fonts and colors listed here: https://docs.carpentries.org/topic_folders/communications/resources/brand_identity.html. Noting also that this page will be refined with more recommendations and rules.